<a href="https://colab.research.google.com/github/natfontanesi/Case_Ifood/blob/main/Case_Ifood.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importações

In [1]:

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
pip install spotipy

Collecting spotipy
  Downloading spotipy-2.18.0-py3-none-any.whl (26 kB)
Collecting requests>=2.25.0
  Downloading requests-2.26.0-py2.py3-none-any.whl (62 kB)
     |████████████████████████████████| 62 kB 1.0 MB/s
Collecting urllib3>=1.26.0
  Downloading urllib3-1.26.6-py2.py3-none-any.whl (138 kB)
     |████████████████████████████████| 138 kB 17.7 MB/s
Requirement already satisfied: six>=1.15.0 in /usr/local/lib/python3.7/dist-packages (from spotipy) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.25.0->spotipy) (2021.5.30)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.25.0->spotipy) (2.10)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests>=2.25.0->spotipy) (2.0.2)
Installing collected packages: urllib3, requests, spotipy
  Attempting uninstall: urllib3
    Found existing installation: urllib3 1.24.3
    Uninstalling urllib3-1.24.3:
      Successfully uninstalled urllib3-1.24.3
  Attempting uninstall: requests
    Found existing installation: requests 2.23.0
    Uninstalling requests-2.23.0:
      Successfully uninstalled requests-2.23.0
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
google-colab 1.0.0 requires requests~=2.23.0, but you have requests 2.26.0 which is incompatible.
datascience 0.10.6 requires folium==0.2.1, but you have folium 0.8.3 which is incompatible.
Successfully installed requests-2.26.0 spotipy-2.18.0 urllib3-1.26.6

In [3]:

from spotipy.oauth2 import SpotifyClientCredentials
import spotipy
import pandas as pd
import json
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from pathlib import Path

# Variáveis e funções para todo o notebook

In [4]:
month = {	
    1:'January',
		2:'February',
		3:'March',
		4:'April',
		5:'May',
		6:'June',
		7:'July',
		8:'August',
		9:'September',
		10:'October',
		11:'November',
		12:'December'		
}

In [5]:
def get_part_of_day(x):
    if (x > 4) and (x <= 8):
        return 'Early Morning'
    elif (x > 8) and (x <= 12 ):
        return 'Morning'
    elif (x > 12) and (x <= 16):
        return'Noon'
    elif (x > 16) and (x <= 20) :
        return 'Evening'
    elif (x > 20) and (x <= 24):
        return'Night'
    elif (x <= 4):
        return'Late Night'

In [6]:
def clean_title(text):
  if len(text.split(':')) <= 3:
    return ' '.join(text.split(':')[:1])
  else:
    return ' '.join(text.split(':')[:2])

# <font color= red> Ifood

## Carregando o arquivo json

In [7]:
ifood = pd.read_json('/content/drive/MyDrive/3_VAMO_AI/01_Case_Ifood/ifood-vamoai.json', encoding='UTF-8')
ifood.head()

                                     id  ...                                             review
0  5f2c646e-2e52-497f-8fa3-5d642f43ce45  ...                                                NaN
1  366b27ed-9e4d-4da5-bbb5-e21ded9b3520  ...                                                NaN
2  16ea5252-dba3-49d9-99ca-d39f6266c367  ...                                                NaN
3  aef66019-39db-457b-8c95-3ece0a25e9e6  ...                                                NaN
4  5a7d800a-c559-4b05-8ea1-202bfa6d012a  ...  {'reviewedAt': '2021-02-11T18:06:33-03:00', 's...

[5 rows x 14 columns]

## Transformando as colunas aninhadas em novos dataframes

In [8]:
details=pd.json_normalize(ifood['details'])
delivery=pd.json_normalize(ifood['delivery'])
merchant=pd.json_normalize(ifood['merchant'])
payments=pd.json_normalize(ifood['payments'])
origin=pd.json_normalize(ifood['origin'])
bag=pd.json_normalize(ifood['bag'])

In [9]:
ifood.head(1)

                                     id  ...  review
0  5f2c646e-2e52-497f-8fa3-5d642f43ce45  ...     NaN

[1 rows x 14 columns]

## Vendo os tamanhos de cada df novo

In [10]:
bag.shape

(82, 9)

In [11]:
origin.shape

(82, 3)

In [12]:
payments.shape

(82, 3)

In [13]:
merchant.shape

(82, 17)

In [14]:
delivery.shape

(82, 18)

In [15]:
details.shape

(82, 11)

In [16]:
ifood.shape

(82, 14)

## Desaninhando alguns DFs

In [17]:
payments.head(1)

                                             methods  ... total.value
0  [{'id': '83e91c55-f778-430f-a13a-0467508fd9df'...  ...        2549

[1 rows x 3 columns]

In [18]:
payments=payments.explode('methods')

In [19]:
payments_methods=pd.json_normalize(payments['methods'])

In [20]:
payments_methods.head(1)

                                     id  ... debit.cardNumber
0  83e91c55-f778-430f-a13a-0467508fd9df  ...              NaN

[1 rows x 22 columns]

In [21]:
payments_methods.shape

(82, 22)

In [22]:
bag.head(1)

  benefits  ... total.valueWithDiscount
0       []  ...                    2549

[1 rows x 9 columns]

In [23]:
bag[['deliveryFee.value','total.valueWithDiscount']]=bag[['deliveryFee.value','total.valueWithDiscount']].div(100)

In [24]:
bag=bag.explode('items')

In [25]:
bag_itens=pd.json_normalize(bag['items'])

In [26]:
bag_itens

                                       id  ... notes
0    f7e42041-6b2c-4b33-94ac-464117949826  ...   NaN
1    a67f0608-2a70-4ec8-bcb8-75984a14bd7c  ...   NaN
2    df6ea899-8f57-468a-ba04-9cd4711998da  ...   NaN
3    f7e42041-6b2c-4b33-94ac-464117949826  ...   NaN
4    fa51badc-23d6-45a0-91f9-2dc17b04aa19  ...   NaN
..                                    ...  ...   ...
142                                   NaN  ...   NaN
143                                   NaN  ...   NaN
144                                   NaN  ...   NaN
145                                   NaN  ...   NaN
146                                   NaN  ...   NaN

[147 rows x 13 columns]

In [27]:
bag.shape

(147, 9)

In [28]:
bag_itens.shape

(147, 13)

In [29]:
details.head(1)

       mode  scheduled  ...  cancellation.code  cancellation.reason
0  DELIVERY      False  ...                NaN                  NaN

[1 rows x 11 columns]

In [30]:
merchant.head(1)

                                     id  ... address.complement
0  84d619e6-9c4c-44a7-83c3-e52632f80e52  ...

[1 rows x 17 columns]

In [31]:
merchant.rename(columns={'address.city': 'r.adress.city','address.country':'r.address.country','address.neighborhood':'r.address.neighborhood','address.state':'r.address.state','address.streetName':'r.address.streetName','address.streetNumber':'r.address.streetNumber','address.coordinates.latitude':'r.address.coordinates.latitude','address.coordinates.longitude':'r.address.coordinates.longitude','address.reference':'r.address.reference','address.complement':'r.address.complement' },inplace=True)

In [32]:
delivery.head(1)

        expectedDeliveryTime  ...  estimatedTimeOfArrival.reason
0  2021-02-25T12:43:01-03:00  ...                            NaN

[1 rows x 18 columns]

In [33]:
delivery.rename({'adress.city':'user.adress.city'},axis='index',inplace=True)

In [34]:
delivery.head(1)

        expectedDeliveryTime  ...  estimatedTimeOfArrival.reason
0  2021-02-25T12:43:01-03:00  ...                            NaN

[1 rows x 18 columns]

dropando as colunas aninhadas para concatenar os novos df

In [35]:
ifood.drop(labels=['details','delivery','merchant','payments','origin'],axis=1, inplace=True)

## DF ifood

In [36]:
ifood.shape

(82, 9)

convertendo  em datetime para separar o ano, mes, dia e dia da semana

In [37]:
ifood['createdAt']=pd.to_datetime(ifood['createdAt'])

In [38]:
ifood['ano']=pd.DatetimeIndex(ifood['createdAt']).year
ifood['mes']=pd.DatetimeIndex(ifood['createdAt']).month
ifood['dia']=pd.DatetimeIndex(ifood['createdAt']).day
ifood['diaDaSemana']=ifood['createdAt'].dt.day_name()
ifood.head(1)

                                     id     shortId  ... dia diaDaSemana
0  5f2c646e-2e52-497f-8fa3-5d642f43ce45  2919873206  ...  25    Thursday

[1 rows x 13 columns]

In [39]:
ifood.mes.replace(month,inplace=True)

concatenando os novos dataframes em um só

In [40]:
lista= [ifood,details,delivery,merchant,payments,origin,payments_methods]
ifood=pd.concat(lista,axis=1)

In [41]:
ifood.shape

(82, 87)

In [42]:
ifood.head(1)

                                     id  ...  debit.cardNumber
0  5f2c646e-2e52-497f-8fa3-5d642f43ce45  ...               NaN

[1 rows x 87 columns]

In [43]:
ifood.drop(labels=['deliveryMethod','digitalWallet.cardNumber','digitalWallet.description','digitalWallet.id','digitalWallet.image','digitalWallet.name','digitalWallet.usedBalance.currency','digitalWallet.usedBalance.value','mealVoucher.cardNumber','transactions'],axis=1, inplace=True)

In [44]:
ifood=ifood.infer_objects()

In [45]:
ifood.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82 entries, 0 to 81
Data columns (total 77 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   id                                 82 non-null     object
 1   shortId                            82 non-null     int64
 2   createdAt                          82 non-null     datetime64[ns, pytz.FixedOffset(-180)]
 3   updatedAt                          82 non-null     object
 4   closedAt                           52 non-null     object
 5   lastStatus                         82 non-null     object
 6   bag                                82 non-null     object
 7   review                             6 non-null      object
 8   ano                                82 non-null     int64
 9   mes                                82 non-null     object
 10  dia                                82 non-null     int64
 11  diaDaSemana                        82 non-null     object
 12  mode                               82 non-null     object
 13  scheduled                          82 non-null     bool
 14  tippable                           82 non-null     bool
 15  indoorTipEnabled                   82 non-null     bool
 16  trackable                          82 non-null     bool
 17  boxable                            82 non-null     bool
 18  placedAtBox                        82 non-null     bool
 19  reviewed                           82 non-null     bool
 20  darkKitchen                        82 non-null     bool
 21  cancellation.code                  2 non-null      object
 22  cancellation.reason                2 non-null      object
 23  expectedDeliveryTime               82 non-null     object
 24  expectedDuration                   82 non-null     int64
 25  address.city                       82 non-null     object
 26  address.country                    82 non-null     object
 27  address.neighborhood               82 non-null     object
 28  address.state                      82 non-null     object
 29  address.streetName                 82 non-null     object
 30  address.streetNumber               82 non-null     object
 31  address.coordinates.latitude       82 non-null     float64
 32  address.coordinates.longitude      82 non-null     float64
 33  address.complement                 67 non-null     object
 34  driver.id                          41 non-null     object
 35  driver.name                        41 non-null     object
 36  driver.photoUrl                    41 non-null     object
 37  driver.modal                       38 non-null     object
 38  estimatedTimeOfArrival.deliversAt  82 non-null     object
 39  estimatedTimeOfArrival.updatedAt   82 non-null     object
 40  estimatedTimeOfArrival.reason      3 non-null      object
 41  id                                 82 non-null     object
 42  name                               82 non-null     object
 43  phoneNumber                        82 non-null     object
 44  logo                               82 non-null     object
 45  companyGroup                       81 non-null     object
 46  type                               79 non-null     object
 47  address.establishment              79 non-null     object
 48  r.adress.city                      82 non-null     object
 49  r.address.country                  82 non-null     object
 50  r.address.neighborhood             82 non-null     object
 51  r.address.state                    82 non-null     object
 52  r.address.streetName               82 non-null     object
 53  r.address.streetNumber             82 non-null     object
 54  r.address.coordinates.latitude     82 non-null     float64
 55  r.address.coordinates.longitude    82 non-null     float64
 56  r.address.reference                79 non-null     object
 57  r.address.complement               79 non-null     object
 58  methods                            82 non-null     object
 59  total.currency                     82 non-null     object
 60  total.value                        82 non-null     int64
 61  platform                           82 non-null     object
 62  appName                            80 non-null     object
 63  appVersion                         82 non-null     object
 64  id                                 82 non-null     object
 65  method.name                        82 non-null     object
 66  method.description                 82 non-null     object
 67  type.name                          82 non-null     object
 68  type.description                   82 non-null     object
 69  brand.id                           82 non-null     object
 70  brand.image                        82 non-null     object
 71  brand.name                         82 non-null     object
 72  brand.description                  81 non-null     object
 73  amount.currency                    82 non-null     object
 74  amount.value                       82 non-null     int64
 75  credit.cardNumber                  31 non-null     object
 76  debit.cardNumber                   2 non-null      object
dtypes: bool(8), datetime64[ns, pytz.FixedOffset(-180)](1), float64(4), int64(6), object(58)
memory usage: 45.0+ KB

In [46]:
ifood.columns

Index(['id', 'shortId', 'createdAt', 'updatedAt', 'closedAt', 'lastStatus',
       'bag', 'review', 'ano', 'mes', 'dia', 'diaDaSemana', 'mode',
       'scheduled', 'tippable', 'indoorTipEnabled', 'trackable', 'boxable',
       'placedAtBox', 'reviewed', 'darkKitchen', 'cancellation.code',
       'cancellation.reason', 'expectedDeliveryTime', 'expectedDuration',
       'address.city', 'address.country', 'address.neighborhood',
       'address.state', 'address.streetName', 'address.streetNumber',
       'address.coordinates.latitude', 'address.coordinates.longitude',
       'address.complement', 'driver.id', 'driver.name', 'driver.photoUrl',
       'driver.modal', 'estimatedTimeOfArrival.deliversAt',
       'estimatedTimeOfArrival.updatedAt', 'estimatedTimeOfArrival.reason',
       'id', 'name', 'phoneNumber', 'logo', 'companyGroup', 'type',
       'address.establishment', 'r.adress.city', 'r.address.country',
       'r.address.neighborhood', 'r.address.state', 'r.address.streetName',
       'r.address.streetNumber', 'r.address.coordinates.latitude',
       'r.address.coordinates.longitude', 'r.address.reference',
       'r.address.complement', 'methods', 'total.currency', 'total.value',
       'platform', 'appName', 'appVersion', 'id', 'method.name',
       'method.description', 'type.name', 'type.description', 'brand.id',
       'brand.image', 'brand.name', 'brand.description', 'amount.currency',
       'amount.value', 'credit.cardNumber', 'debit.cardNumber'],
      dtype='object')

In [47]:
ifood.head(1)

                                     id  ...  debit.cardNumber
0  5f2c646e-2e52-497f-8fa3-5d642f43ce45  ...               NaN

[1 rows x 77 columns]

In [48]:
ifood.drop(labels=['debit.cardNumber','credit.cardNumber','brand.image','brand.id','method.name','appVersion','appName','methods'],axis=1, inplace=True)

In [49]:
ifood.head(1)

                                     id  ...  amount.value
0  5f2c646e-2e52-497f-8fa3-5d642f43ce45  ...          2549

[1 rows x 69 columns]

In [50]:
ifood['name'].value_counts()

Spumoni Restaurante e Sorveteria                     21
Sodiê Doces - Ferraz de Vasconcelos Vila Açoreana    10
Burger King  - Av. Prof Luiz C Bueno                  8
Habib's - Itaquaquecetuba II                          7
Burguer Channel                                       7
Doce Magia Ferraz de Vasconcelos                      5
Brasileirinho Delivery - Ferraz de Vasconcelos        5
Pizzaria Donatello                                    4
Loop São Paulo Moema 2                                2
Mcdonald's  - Drive Suzano                            2
Three Burger                                          2
Sodiê Doces - São Caetano Centro                      1
McDonald's - Drive Itaquaquecetuba (iba)              1
Mega Esfiha Kemel                                     1
Loop Moema                                            1
Banks Burger                                          1
Cacau Show - Super Higas Itaim Paul                   1
Mcdonald's - Ferraz de Vasconcelos                    1
Mcdonald's  - Suzano Shopping                         1
Rotisserie e Pizzaria Aop                             1
Name: name, dtype: int64

In [51]:
ifood['driver.name'].value_counts()

Jefferson Moura      2
Alan Melo            2
Matheus Costa        2
Jefferson Silva      2
Vitor Ferreira       1
José Alves           1
Jardel Costa         1
Jeferson Lora        1
Fabio Soares         1
Alex Santos          1
Samuel Silva         1
Gabriel Fernandes    1
Humberto Portela     1
Guilherme Sous       1
Roberto Conceição    1
Pablo Cardoso        1
Renato Melo          1
Leandro Moraes       1
Gustavo Bravo        1
Sinésio Lima         1
Luciano Alkimim      1
Ricardo Oliveira     1
Luccas Compri        1
Luiz Souza           1
Solange Oliveira     1
Gildarle Silva       1
Amerson Silva        1
Ademario Junior      1
Jefferson Santos     1
Vani Damasceno       1
Flávio Silva         1
Marcos Silva         1
Carlos Zapala        1
Alecio Araújo        1
Humberto Diniz       1
Danilo Leite         1
Walace Venancio      1
Name: driver.name, dtype: int64

In [52]:
delivery['address.city'].value_counts()

Ferraz de Vasconcelos    75
São Paulo                 3
Poa                       3
Sao Paulo                 1
Name: address.city, dtype: int64

In [53]:
ifood['total.value'].sum()/100

6358.78

In [54]:
ifood['diaDaSemana'].value_counts()

Friday       16
Monday       16
Thursday     13
Tuesday      12
Wednesday     9
Sunday        8
Saturday      8
Name: diaDaSemana, dtype: int64

## DF Bag_Itens

In [55]:
bag_itens

                                       id  ... notes
0    f7e42041-6b2c-4b33-94ac-464117949826  ...   NaN
1    a67f0608-2a70-4ec8-bcb8-75984a14bd7c  ...   NaN
2    df6ea899-8f57-468a-ba04-9cd4711998da  ...   NaN
3    f7e42041-6b2c-4b33-94ac-464117949826  ...   NaN
4    fa51badc-23d6-45a0-91f9-2dc17b04aa19  ...   NaN
..                                    ...  ...   ...
142                                   NaN  ...   NaN
143                                   NaN  ...   NaN
144                                   NaN  ...   NaN
145                                   NaN  ...   NaN
146                                   NaN  ...   NaN

[147 rows x 13 columns]

dropando as colunas subitens e tags para em seguida dropar as duplicatas

In [56]:
bag_itens.drop(labels=['subItems','tags'],axis=1,inplace=True)

In [57]:
bag_itens.drop_duplicates(keep="last",inplace=True)

In [58]:
bag_itens['name'].value_counts().head(10)

GRANDE                            6
Picadinho                         5
37. Abacaxi com coco              5
06. Brigadeiro 2                  5
2 sanduíches + batata + bebida    4
Virado á Paulista                 4
Escolha 10 itens variados         3
O poderoso chefinho               3
Parmegiana  de frango ou carne    3
2 por R$19,90                     3
Name: name, dtype: int64

In [59]:
bag_itens.shape

(123, 11)

## DF Payments

In [60]:
payments_methods.head(1)

                                     id  ... debit.cardNumber
0  83e91c55-f778-430f-a13a-0467508fd9df  ...              NaN

[1 rows x 22 columns]

In [61]:
payments_methods.drop(labels='transactions',axis=1,inplace=True)

In [62]:
payments_methods['method.description'].value_counts()

Vale-refeição       45
Crédito             31
Carteira digital     3
Débito               2
MEAL_VOUCHER         1
Name: method.description, dtype: int64

# <font color = Red>Netflix

## Carregando o DF Histórico de Visualização

In [63]:
data_file = '/content/drive/MyDrive/3_VAMO_AI/01_Case_Ifood/netflix/CONTENT_INTERACTION/ViewingActivity.csv'
data_file_delimiter=','
largest_column_count = 0

In [64]:
with open(data_file, 'r',encoding= 'gb18030') as temp_f:
    lines = temp_f.readlines()
    lines2=[i.split(',')for i in lines]

## Criando o DF pra colocar as linhas com 10 colunas

In [65]:
df = pd.DataFrame(columns=[i for i in range(0, 10)])

In [66]:
for col in range(0,len(lines2)):
  if len(lines2[col])==10:
    df.loc[col]=lines2[col]

In [67]:
df.shape

(13120, 10)

In [68]:
df.head(10)

              0  ...                          9
0  Profile Name  ...      Country;;;;;;;;;;;;\n
1     Usuário 1  ...  BR (Brazil);;;;;;;;;;;;\n
2     Usuário 1  ...  BR (Brazil);;;;;;;;;;;;\n
3     Usuário 1  ...   BR (Brazil);;;;;;;;;;;\n
4     Usuário 1  ...  BR (Brazil);;;;;;;;;;;;\n
5     Usuário 1  ...  BR (Brazil);;;;;;;;;;;;\n
6     Usuário 1  ...   BR (Brazil);;;;;;;;;;;\n
7     Usuário 1  ...   BR (Brazil);;;;;;;;;;;\n
8     Usuário 1  ...  BR (Brazil);;;;;;;;;;;;\n
9     Usuário 1  ...   BR (Brazil);;;;;;;;;;;\n

[10 rows x 10 columns]

## Criando o DF para colocar as linhas com 11 colunas

In [69]:
df2 = pd.DataFrame(columns=[i for i in range(0, 11)])

In [70]:
for col in range(0,len(lines2)):
  if len(lines2[col])==11:
    df2.loc[col]=lines2[col]

In [71]:
df2.head()

            0   ...                          10
21   Usuário 1  ...   BR (Brazil)";;;;;;;;;;;\n
48   Usuário 1  ...   BR (Brazil)";;;;;;;;;;;\n
51  "Usuário 1  ...  BR (Brazil)";;;;;;;;;;;;\n
52   Usuário 1  ...   BR (Brazil)";;;;;;;;;;;\n
53  "Usuário 1  ...  BR (Brazil)";;;;;;;;;;;;\n

[5 rows x 11 columns]

## Juntando a coluna 4 com a coluna 5, que causava o erro em algumas linhas

In [72]:
df2[4] = df2[4].str.cat(df2[5])

Tirando a coluna 5

In [73]:
df2.drop(columns=5,inplace=True)

## Renomeando as colunas que restaram para ficar igual ao DF com 10 colunas

In [74]:
df2.rename(columns={6:5,7:6,8:7,9:8,10:9},inplace=True)

## Concatenando os dataframes

In [75]:
df=pd.concat([df,df2])

In [76]:
df.shape

(13559, 10)

## Alguns caracteres vieram desconfigurados substitui pelos corretos

In [77]:
df = df.replace('贸','ó', regex=True)
df = df.replace('茅','é', regex=True)
df = df.replace('么','ô',regex=True)
df=df.replace('脷','ú',regex=True)
df=df.replace('莽','ç' ,regex=True)
df=df.replace('茫', 'ã', regex=True)
df=df.replace('铆','í',regex=True)
df=df.replace('脿','à',regex=True)
df=df.replace('谩','á', regex=True)

## Criando o df final com o header correto

In [78]:
headers= df.iloc[0]
historico_visu=pd.DataFrame(df.values[1:],columns=headers)

In [79]:
historico_visu.head()

0 Profile Name           Start Time  ... Latest Bookmark      Country;;;;;;;;;;;;\n
0    Usuário 1  2021-01-04 17:40:58  ...        00:01:01  BR (Brazil);;;;;;;;;;;;\n
1    Usuário 1  2021-01-04 17:32:40  ...        00:59:49  BR (Brazil);;;;;;;;;;;;\n
2    Usuário 1  2021-01-04 14:19:55  ...        00:18:59   BR (Brazil);;;;;;;;;;;\n
3    Usuário 1  2020-10-23 22:00:42  ...        01:30:01  BR (Brazil);;;;;;;;;;;;\n
4    Usuário 1  2020-09-02 14:28:34  ...        00:00:03  BR (Brazil);;;;;;;;;;;;\n

[5 rows x 10 columns]

In [80]:
historico_visu.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13558 entries, 0 to 13557
Data columns (total 10 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Profile Name             13558 non-null  object
 1   Start Time               13558 non-null  object
 2   Duration                 13558 non-null  object
 3   Attributes               13558 non-null  object
 4   Title                    13558 non-null  object
 5   Supplemental Video Type  13558 non-null  object
 6   Device Type              13558 non-null  object
 7   Bookmark                 13558 non-null  object
 8   Latest Bookmark          13558 non-null  object
 9   Country;;;;;;;;;;;;
     13558 non-null  object
dtypes: object(10)
memory usage: 1.0+ MB

## Corrigindo uns caracteres que vieram a mais

In [81]:
historico_visu.rename(columns={'Country;;;;;;;;;;;;\n':'Country'},inplace=True)

In [82]:
historico_visu.shape

(13558, 10)

In [83]:
historico_visu['Country']=historico_visu['Country'].astype('string')

In [84]:
historico_visu['Country']=historico_visu['Country'].apply(lambda x: x.replace(';',''))

In [85]:
historico_visu['Country']=historico_visu['Country'].apply(lambda x: x.replace('"',''))

In [86]:
historico_visu['Profile Name']=historico_visu['Profile Name'].apply(lambda x: x.replace('"',''))

In [87]:
historico_visu['Country'].value_counts()

BR (Brazil)\n           13458
IE (Ireland)\n             98
FR (France)\n               1
US (United States)\n        1
Name: Country, dtype: int64

In [88]:
historico_visu['Profile Name'].value_counts()

Usuário 2    9250
Usuário 3    3759
Usuário 1     549
Name: Profile Name, dtype: int64

## Vendo os perfis que existem na conta

In [89]:
historico_visu['Profile Name'].value_counts()

Usuário 2    9250
Usuário 3    3759
Usuário 1     549
Name: Profile Name, dtype: int64

## Qual filme as contas mais viram?

In [90]:
historico_visu['Title'].value_counts()

Até o último Homem                                           23
Homem de Ferro 2                                             22
Velozes e Furiosos 3 鈥?Desafio em Tóquio                     22
Velozes & Furiosos 6                                         21
Os Vingadores - The Avengers                                 20
                                                             ..
Soul Surfer - Coragem de Viver                                1
The Flash: Temporada 3: Rua Infantino (Episódio 22)           1
O Gambito da Rainha: Minissérie: Treinamento (Episódio 5)     1
AIB Hook 1                                                    1
Lucifer: Temporada 2: Partes íntimas (Episódio 4)             1
Name: Title, Length: 6313, dtype: int64

## Qual pais mais assistiram

In [91]:
historico_visu.head(1)

0 Profile Name           Start Time  ... Latest Bookmark        Country
0    Usuário 1  2021-01-04 17:40:58  ...        00:01:01  BR (Brazil)\n

[1 rows x 10 columns]

In [92]:
historico_visu['Country'].value_counts()

BR (Brazil)\n           13458
IE (Ireland)\n             98
FR (France)\n               1
US (United States)\n        1
Name: Country, dtype: int64

In [93]:
historico_visu.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13558 entries, 0 to 13557
Data columns (total 10 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Profile Name             13558 non-null  object
 1   Start Time               13558 non-null  object
 2   Duration                 13558 non-null  object
 3   Attributes               13558 non-null  object
 4   Title                    13558 non-null  object
 5   Supplemental Video Type  13558 non-null  object
 6   Device Type              13558 non-null  object
 7   Bookmark                 13558 non-null  object
 8   Latest Bookmark          13558 non-null  object
 9   Country                  13558 non-null  object
dtypes: object(10)
memory usage: 1.0+ MB

## Limpando os titulos

In [94]:
historico_visu['clean_title'] = historico_visu['Title'].apply(clean_title)

## Convertendo duração em timedelta para fazer a soma

In [95]:
historico_visu['Duration']= pd.to_timedelta(historico_visu['Duration'])

In [96]:
historico_visu['Duration'].sum()

Timedelta('197 days 19:40:55')

In [97]:
historico_visu['segundos']=historico_visu['Duration'].dt.total_seconds()

In [98]:
historico_visu.head()

0 Profile Name           Start Time  ...                 clean_title segundos
0    Usuário 1  2021-01-04 17:40:58  ...  Em Busca do Vale Encantado     61.0
1    Usuário 1  2021-01-04 17:32:40  ...                Madagascar 2    364.0
2    Usuário 1  2021-01-04 14:19:55  ...          A Estrela de Belém   1139.0
3    Usuário 1  2020-10-23 22:00:42  ...            A Caminho da Lua   5566.0
4    Usuário 1  2020-09-02 14:28:34  ...                    Amazônia     10.0

[5 rows x 12 columns]

## Mudando o Start Time pra datetime, para separar o ano, mes,dia e dia da semana.

In [99]:
historico_visu['Start Time'] = pd.to_datetime(historico_visu['Start Time'], utc=True)

In [100]:
historico_visu['year'] = pd.DatetimeIndex(historico_visu['Start Time']).year
historico_visu['month'] = pd.DatetimeIndex(historico_visu['Start Time']).month
historico_visu['day'] = pd.DatetimeIndex(historico_visu['Start Time']).day
historico_visu['day.name'] = historico_visu['Start Time'].dt.day_name()
historico_visu.head()

0 Profile Name                Start Time        Duration  ... month day   day.name
0    Usuário 1 2021-01-04 17:40:58+00:00 0 days 00:01:01  ...     1   4     Monday
1    Usuário 1 2021-01-04 17:32:40+00:00 0 days 00:06:04  ...     1   4     Monday
2    Usuário 1 2021-01-04 14:19:55+00:00 0 days 00:18:59  ...     1   4     Monday
3    Usuário 1 2020-10-23 22:00:42+00:00 0 days 01:32:46  ...    10  23     Friday
4    Usuário 1 2020-09-02 14:28:34+00:00 0 days 00:00:10  ...     9   2  Wednesday

[5 rows x 16 columns]

In [101]:
historico_visu["month"].replace(month, inplace=True)
historico_visu.head()

0 Profile Name                Start Time  ... day   day.name
0    Usuário 1 2021-01-04 17:40:58+00:00  ...   4     Monday
1    Usuário 1 2021-01-04 17:32:40+00:00  ...   4     Monday
2    Usuário 1 2021-01-04 14:19:55+00:00  ...   4     Monday
3    Usuário 1 2020-10-23 22:00:42+00:00  ...  23     Friday
4    Usuário 1 2020-09-02 14:28:34+00:00  ...   2  Wednesday

[5 rows x 16 columns]

In [102]:
historico_visu['part_of_day'] = historico_visu['Start Time'].dt.hour.apply(get_part_of_day)

In [103]:
historico_visu['month'].value_counts()

December     1550
January      1443
July         1259
August       1243
February     1238
November     1057
April        1009
September     978
March         968
June          963
October       960
May           890
Name: month, dtype: int64

## Vendo qual o dia da semana os perfis mais assistem

In [104]:
historico_visu['day.name'].value_counts()

Sunday       3174
Saturday     2751
Friday       1796
Tuesday      1541
Monday       1511
Thursday     1428
Wednesday    1357
Name: day.name, dtype: int64

## Analisando o Usuário 3

In [105]:
historico_3=historico_visu.loc[(historico_visu['Profile Name']=='Usuário 3')]
historico_3.head()

0   Profile Name                Start Time  ...  day.name part_of_day
515    Usuário 3 2021-02-23 03:42:48+00:00  ...   Tuesday  Late Night
516    Usuário 3 2021-02-21 17:19:43+00:00  ...    Sunday     Evening
517    Usuário 3 2021-02-20 19:55:59+00:00  ...  Saturday     Evening
518    Usuário 3 2021-02-20 18:07:31+00:00  ...  Saturday     Evening
519    Usuário 3 2021-02-20 18:06:49+00:00  ...  Saturday     Evening

[5 rows x 17 columns]

In [106]:
historico_3['Title'].value_counts()

Lucifer: Temporada 1: Piloto (Episódio 1)                                                  13
Black Mirror: Temporada 3: Queda livre (Episódio 1)                                        12
Temporada 1 (Trailer): Expresso do Amanhã                                                  12
Stranger Things: Temporada 1: Capítulo um: O desaparecimento de Will Byers (Episódio 1)    10
Outra Vida: Temporada 1 (Trailer)                                                          10
                                                                                           ..
The Great Wall_hook_primary_16x9                                                            1
Lost: Temporada 1: O vigarista (Episódio 8)                                                 1
Stranger Things: Stranger Things 2: Capítulo tr锚s: O girino (Episódio 3)                    1
A Anatomia de Grey: Temporada 5: Luz e sombras (Episódio 17)                                1
Border Security: America's Front Line: Temporada 1: Episódio 2 (Episódio 2)                 1
Name: Title, Length: 2372, dtype: int64

In [107]:
historico_3.groupby(['Title']).agg({'Duration':'sum'}).sort_values(by='Duration', ascending=False).head(11)

                              Duration
Title
2012                   0 days 06:53:25
Tropa de Elite         0 days 05:27:27
Forrest Gump           0 days 05:01:21
Invencível             0 days 04:25:19
Prenda-Me Se for Capaz 0 days 04:21:58
A Grande Aposta        0 days 04:07:03
Terra à Deriva         0 days 04:00:03
Impacto Profundo       0 days 04:00:00
Oblivion               0 days 03:59:29
Presságio              0 days 03:50:07
Fome de Poder          0 days 03:38:14

In [108]:
historico_3.shape

(3759, 17)

# <font color=red> Netflix Natascha

## Carregando o df

In [109]:
historico_visu_nat=pd.read_csv('/content/drive/MyDrive/3_VAMO_AI/Dados_Natascha/NEtflix/CONTENT_INTERACTION/ViewingActivity.csv')

In [110]:
historico_visu_nat.head()

  Profile Name           Start Time  ... Latest Bookmark      Country
0    Alesandra  2021-07-19 03:20:14  ...        00:37:04  BR (Brazil)
1    Alesandra  2021-07-19 02:40:47  ...        00:39:12  BR (Brazil)
2    Alesandra  2021-07-19 00:48:49  ...        01:49:01  BR (Brazil)
3    Alesandra  2021-07-18 23:16:11  ...        01:25:38  BR (Brazil)
4    Alesandra  2021-07-18 21:17:47  ...        01:44:06  BR (Brazil)

[5 rows x 10 columns]

## Analisando o df

Quais perfis disponíveis

In [111]:
historico_visu_nat['Profile Name'].value_counts()

Cecilia      4366
Alesandra    2829
natascha     2722
kids            3
Vanessa         1
Name: Profile Name, dtype: int64

Títulos mais assistidos pelos perfis

In [112]:
historico_visu_nat['Title'].value_counts()

Wynonna Earp: Temporada 1: Manter o fogo aceso (Episódio 2)                  20
Wynonna Earp: Temporada 1: Enterre-me com minhas armas (Episódio 9)          16
A Anatomia de Grey: Temporada 3: Cicatrizes e lembrancinhas (Episódio 18)    16
Doce vingança                                                                16
Zumbo's Just Desserts: Temporada 2: É hora de fazer mágica! (Episódio 1)     15
                                                                             ..
Two and a Half Men: Temporada 3: A pistola hermafrodita (Episódio 24)         1
Juventude à Flor da Pele: Vol. 4: Freddie (Episódio 5)                        1
Disque Amiga para Matar: Temporada 1: Piloto (Episódio 1)                     1
Fargo: Temporada 2: Esperando pelo holandês (Episódio 1)                      1
O Gambito da Rainha: Minissérie: Aberturas (Episódio 1)                       1
Name: Title, Length: 4430, dtype: int64

Paises dos quais foram reproduzidos os titulos

In [113]:
historico_visu_nat['Country'].value_counts()

BR (Brazil)            9221
IE (Ireland)            677
PT (Portugal)             8
US (United States)        7
GB (United Kingdom)       5
IT (Italy)                1
PL (Poland)               1
ZZ (Unknown Region)       1
Name: Country, dtype: int64

In [114]:
historico_visu_nat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9921 entries, 0 to 9920
Data columns (total 10 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Profile Name             9921 non-null   object
 1   Start Time               9921 non-null   object
 2   Duration                 9921 non-null   object
 3   Attributes               1877 non-null   object
 4   Title                    9921 non-null   object
 5   Supplemental Video Type  395 non-null    object
 6   Device Type              9921 non-null   object
 7   Bookmark                 9921 non-null   object
 8   Latest Bookmark          9921 non-null   object
 9   Country                  9921 non-null   object
dtypes: object(10)
memory usage: 775.2+ KB

## Convertendo a duração pra timedelta

In [115]:
historico_visu_nat['Duration']= pd.to_timedelta(historico_visu_nat['Duration'])

In [116]:
historico_visu_nat['Duration'].sum()

Timedelta('173 days 14:53:36')

In [117]:
historico_visu_nat['segundos']=historico_visu_nat['Duration'].dt.total_seconds()

In [118]:
historico_visu_nat.head()

  Profile Name           Start Time  ...      Country segundos
0    Alesandra  2021-07-19 03:20:14  ...  BR (Brazil)   2220.0
1    Alesandra  2021-07-19 02:40:47  ...  BR (Brazil)   2352.0
2    Alesandra  2021-07-19 00:48:49  ...  BR (Brazil)   6541.0
3    Alesandra  2021-07-18 23:16:11  ...  BR (Brazil)   5138.0
4    Alesandra  2021-07-18 21:17:47  ...  BR (Brazil)   6271.0

[5 rows x 11 columns]

## Convertendo Start Time para date time e em seguida pegar mês, ano, dia e dia da semana

In [119]:
historico_visu_nat['Start Time'] = pd.to_datetime(historico_visu_nat['Start Time'], utc=True)

In [120]:
historico_visu_nat['year'] = pd.DatetimeIndex(historico_visu_nat['Start Time']).year
historico_visu_nat['month'] = pd.DatetimeIndex(historico_visu_nat['Start Time']).month
historico_visu_nat['day'] = pd.DatetimeIndex(historico_visu_nat['Start Time']).day
historico_visu_nat['day.name'] = historico_visu_nat['Start Time'].dt.day_name()
historico_visu_nat.head(1)

  Profile Name                Start Time        Duration  ... month day day.name
0    Alesandra 2021-07-19 03:20:14+00:00 0 days 00:37:00  ...     7  19   Monday

[1 rows x 15 columns]

In [121]:
historico_visu_nat["month"].replace(month, inplace=True)
historico_visu_nat.head(1)

  Profile Name                Start Time        Duration  ... month day day.name
0    Alesandra 2021-07-19 03:20:14+00:00 0 days 00:37:00  ...  July  19   Monday

[1 rows x 15 columns]

In [122]:
historico_visu_nat['part_of_day'] = historico_visu_nat['Start Time'].dt.hour.apply(get_part_of_day)

In [123]:
historico_visu_nat['month'].value_counts()

April        1212
January      1028
May          1005
March         987
November      863
August        776
December      770
October       744
September     687
February      663
July          607
June          579
Name: month, dtype: int64

In [124]:
historico_visu_nat['day.name'].value_counts()

Sunday       1858
Monday       1662
Saturday     1380
Wednesday    1333
Thursday     1297
Tuesday      1248
Friday       1143
Name: day.name, dtype: int64

## Limpando os Títulos

In [125]:
historico_visu_nat['clean_title'] = historico_visu_nat['Title'].apply(clean_title)

## Separando o meu perfil

In [126]:
historico_nat=historico_visu_nat.loc[(historico_visu_nat['Profile Name']=='natascha')]
historico_nat.head(1)

     Profile Name                Start Time  ... part_of_day  clean_title
7199     natascha 2021-07-09 22:49:40+00:00  ...       Night  Rua do Medo

[1 rows x 17 columns]

In [127]:
historico_nat['Title'].value_counts()

Wynonna Earp: Temporada 1: Manter o fogo aceso (Episódio 2)                 19
Wynonna Earp: Temporada 1: Enterre-me com minhas armas (Episódio 9)         16
Wynonna Earp: Temporada 2: Vamos fingir que somos estranhos (Episódio 5)    13
Wynonna Earp: Temporada 2: Todo mundo sabe (Episódio 7)                     13
Wynonna Earp: Temporada 1: Jack duas caras (Episódio 8)                     12
                                                                            ..
Os Cavaleiros do Zodíaco: Temporada 2: A ilha do espectro (Episódio 4)       1
Olmo & the Seagull_hook_01_16x9                                              1
Vis a vis: Temporada 2: Prendendo os dedos (Episódio 9)                      1
Hitler's Circle of Evil: Temporada 1: Colapso (Episódio 10)                  1
Investigação Criminal: Temporada 1: Crime da Oscar Freire (Episódio 6)       1
Name: Title, Length: 1450, dtype: int64

In [128]:
historico_nat.groupby(['Title']).agg({'Duration':'sum'}).sort_values(by='Duration', ascending=False).head(11)

                                                          Duration
Title
Carol                                              0 days 04:40:39
Harry Potter e as Relíquias da Morte               0 days 04:28:03
Sense8: Temporada 2: Amor vincit omnia (Episódi... 0 days 04:23:47
Wynonna Earp: Temporada 1: Manter o fogo aceso ... 0 days 04:21:54
Comer Rezar Amar                                   0 days 04:09:03
Um Lugar Chamado Notting Hill                      0 days 04:05:20
Brilho Eterno de uma Mente sem Lembranças          0 days 04:03:15
18 Presentes                                       0 days 03:42:34
O Sorriso de Monalisa                              0 days 03:41:08
Wynonna Earp: Temporada 1: Partindo em sua ment... 0 days 03:33:50
Wynonna Earp: Temporada 1: Enterre-me com minha... 0 days 03:20:15

# <font color= Red>Spotify e API Thiago

## abrindo o arquivo de historico de reprodução

In [129]:
sp_historico=pd.read_json('/content/drive/MyDrive/3_VAMO_AI/01_Case_Ifood/Spotify/StreamingHistory0.json')
sp_historico.head()

            endTime  ... msPlayed
0  2020-01-31 03:00  ...   206101
1  2020-08-26 11:36  ...   354320
2  2020-10-04 22:24  ...   157585
3  2020-10-04 22:27  ...   148937
4  2020-10-05 00:12  ...    66004

[5 rows x 4 columns]

In [130]:
sp_historico.shape

(22, 4)

## Convertendo para Date Time a coluna end time, para poder quebrar em dias, meses, semanas etc

In [131]:
sp_historico['endTime'] = pd.to_datetime(sp_historico['endTime'])

Aplicando a função get_part_of_day para separar os horarios de reprodução em faixas de horários como night, late night, early morning etc

In [132]:
sp_historico['part_of_day'] = sp_historico['endTime'].dt.hour.apply(get_part_of_day)

Qual o periodo do dia há mais reproduções?

In [133]:
sp_historico['part_of_day'].value_counts()

Night         10
Late Night     9
Evening        2
Morning        1
Name: part_of_day, dtype: int64

Quebrando em ano, mês, dia e dia da semana

In [134]:
sp_historico['year'] = pd.DatetimeIndex(sp_historico['endTime']).year
sp_historico['month'] = pd.DatetimeIndex(sp_historico['endTime']).month
sp_historico['day'] = pd.DatetimeIndex(sp_historico['endTime']).day
sp_historico['day_name'] = sp_historico['endTime'].dt.day_name()
sp_historico.head()

              endTime    artistName  ... day   day_name
0 2020-01-31 03:00:00  Clean Bandit  ...  31     Friday
1 2020-08-26 11:36:00         Queen  ...  26  Wednesday
2 2020-10-04 22:24:00    Beau Diako  ...   4     Sunday
3 2020-10-04 22:27:00    invention_  ...   4     Sunday
4 2020-10-05 00:12:00       xander.  ...   5     Monday

[5 rows x 9 columns]

Mudando de número do mês para nome do mês

In [135]:
sp_historico["month"].replace(month, inplace=True)

Qual mês há mais reproduções?

In [136]:
sp_historico['month'].value_counts()

November    11
December     6
October      3
August       1
January      1
Name: month, dtype: int64

Qual dia da semana há mais reproduções

In [137]:
sp_historico['day_name'].value_counts()

Wednesday    9
Friday       7
Sunday       4
Monday       1
Thursday     1
Name: day_name, dtype: int64

## Para abrir o arquivo YourLibrary o read_json não funciona, então usei o open e o load pra abrir e transformar o arquivo em dicionário

In [138]:
with open ('/content/drive/MyDrive/3_VAMO_AI/01_Case_Ifood/Spotify/YourLibrary.json',encoding='utf-8') as f:
  biblioteca=json.load(f)
type(biblioteca)

dict

In [139]:
biblioteca.keys()

dict_keys(['tracks', 'albums', 'shows', 'episodes', 'bannedTracks', 'other'])

## Depois de transformar em dicionário, transformo cada índice em um dataframe

In [140]:
faixas=pd.json_normalize(biblioteca['tracks'])
albuns=pd.json_normalize(biblioteca['albums'])
podcasts=pd.json_normalize(biblioteca['shows'])
episodios=pd.json_normalize(biblioteca['episodes'])
faixas_ban=pd.json_normalize(biblioteca['bannedTracks'])
outros=pd.json_normalize(biblioteca['other'])

In [141]:
type(faixas)

pandas.core.frame.DataFrame

In [142]:
lista=[faixas, albuns, podcasts, episodios,outros]
biblioteca=pd.concat(lista,axis=1)

In [143]:
biblioteca.head()

               artist  ...                                track
0               JAY-Z  ...                    Izzo / In the End
1  Sebastian Ingrosso  ...  Calling (Lose My Mind) - Radio Edit
2     Capital Inicial  ...    À Sua Maneira (De Música Ligeira)
3           Seu Jorge  ...                Amiga Da Minha Mulher
4    Armin van Buuren  ...   Not Giving Up On Love - Radio Edit

[5 rows x 3 columns]

In [144]:
biblioteca['artist'].value_counts()

Metallica           11
Maroon 5             6
Armin van Buuren     6
Lasgo                5
Calvin Harris        5
                    ..
Bad Meets Evil       1
Jonas Blue           1
K-Pop All-Stars      1
Charli XCX           1
Martin Garrix        1
Name: artist, Length: 196, dtype: int64

## Spotipy

In [145]:
pip install spotipy

Requirement already satisfied: spotipy in /usr/local/lib/python3.7/dist-packages (2.18.0)
Requirement already satisfied: six>=1.15.0 in /usr/local/lib/python3.7/dist-packages (from spotipy) (1.15.0)
Requirement already satisfied: urllib3>=1.26.0 in /usr/local/lib/python3.7/dist-packages (from spotipy) (1.26.6)
Requirement already satisfied: requests>=2.25.0 in /usr/local/lib/python3.7/dist-packages (from spotipy) (2.26.0)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests>=2.25.0->spotipy) (2.0.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.25.0->spotipy) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.25.0->spotipy) (2021.5.30)

In [146]:
from spotipy.oauth2 import SpotifyClientCredentials
import spotipy
import sys
import csv
import requests

## Configurando o spotipy

In [147]:
client_id = "24e3a45dbe034db6bec311f26d04c5dd"
client_secret = "4f1dff8480d94c70827082be7a832cb1"

client_credentials_manager = SpotifyClientCredentials(client_id,client_secret)
sp = spotipy.Spotify(client_credentials_manager = client_credentials_manager)

In [148]:
auth_url = 'https://accounts.spotify.com/api/token'

In [149]:
data = {
    'grant_type': 'client_credentials',
    'client_id': client_id,
    'client_secret': client_secret,
}

In [150]:
auth_response = requests.post(auth_url, data=data)

In [151]:
access_token = auth_response.json().get('access_token')

In [152]:
headers = {
    'Authorization': 'Bearer {}'.format(access_token)
}

## Funções para usar o spotipy

In [153]:
def get_artist_id(artist):
    if len(artist) > 1:
      name =artist
    else:
      name = None

    results = sp.search(q='artist:' + name, type='artist')
    items = results['artists']['items']
    if len(items) > 0:
        artist = items[0]
        return artist['id']

In [154]:
def artist_genre(artist):

  search = sp.search(q='artist:'+ artist, type='artist',limit=50)
  
  if search['artists']['items']:
    genres = search['artists']['items'][0]['genres']
    return genres
  else:
    return None

## Pegando os ids de cada artista

Duplicando o nome do artista pra aplicar a função

In [155]:
biblioteca['artist_id']=biblioteca.loc[:,'artist']

Aplicando a função de id

In [156]:
biblioteca['artist_id']=biblioteca['artist_id'].apply(get_artist_id)

Conferindo se deu resultado

In [157]:
biblioteca.head()

               artist  ...               artist_id
0               JAY-Z  ...  3nFkdlSjzX9mRTtwJOzDYB
1  Sebastian Ingrosso  ...  6hyMWrxGBsOx6sWcVj1DqP
2     Capital Inicial  ...  4Z0yuwHVJBROVZqFpTIr0d
3           Seu Jorge  ...  0i1s9WcIu0PrUvHzALgofo
4    Armin van Buuren  ...  0SfsnGyD8FpIN4U4WCkBZ5

[5 rows x 4 columns]

## Pegando o Gênero de cada artista

In [158]:
biblioteca['genre']=biblioteca.loc[:,'artist']

In [159]:
biblioteca['genre']=biblioteca['genre'].apply(artist_genre)

In [160]:
biblioteca.head()

               artist  ...                                              genre
0               JAY-Z  ...        [east coast hip hop, hip hop, pop rap, rap]
1  Sebastian Ingrosso  ...  [dance pop, edm, electro house, pop dance, pro...
2     Capital Inicial  ...  [brazilian rock, mpb, pop rock brasileiro, roc...
3           Seu Jorge  ...                           [mpb, samba, samba-rock]
4    Armin van Buuren  ...  [dutch trance, edm, pop dance, progressive hou...

[5 rows x 5 columns]

In [161]:
genre_list_t=[]
genre = biblioteca['genre'].tolist()
for i in genre:
  if type (i) == list:
       for j in i:
          genre_list_t.append(j)
genre_list_t

['east coast hip hop',
 'hip hop',
 'pop rap',
 'rap',
 'dance pop',
 'edm',
 'electro house',
 'pop dance',
 'progressive electro house',
 'progressive house',
 'brazilian rock',
 'mpb',
 'pop rock brasileiro',
 'rock brasiliense',
 'rock nacional brasileiro',
 'mpb',
 'samba',
 'samba-rock',
 'dutch trance',
 'edm',
 'pop dance',
 'progressive house',
 'trance',
 'modern rock',
 'pop rap',
 'seattle hip hop',
 'uplifting trance',
 'neo mellow',
 'pop',
 'pop rock',
 'candy pop',
 'emo',
 'pixie',
 'pop emo',
 'pop punk',
 'dance pop',
 'edm',
 'electro house',
 'house',
 'pop',
 'progressive house',
 'uk dance',
 'album rock',
 'classic rock',
 'mellow gold',
 'rock',
 'hip hop',
 'miami hip hop',
 'pop rap',
 'rap',
 'southern hip hop',
 'trap',
 'dance pop',
 'edm',
 'electro house',
 'house',
 'pop',
 'progressive house',
 'uk dance',
 'detroit hip hop',
 'gangster rap',
 'hip hop',
 'pop rap',
 'rap',
 'permanent wave',
 'pop rock',
 'rock',
 'c-pop',
 'cantopop',
 'classic mandopop',
 'mandopop',
 'art pop',
 'auckland indie',
 'australian pop',
 'electropop',
 'etherpop',
 'indie pop',
 'indie poptimism',
 'indietronica',
 'metropopolis',
 'nz pop',
 'pop',
 'pop rock',
 'shimmer pop',
 'tropical house',
 'vapor soul',
 'pop',
 'pop rock',
 'east coast hip hop',
 'hip hop',
 'pop rap',
 'rap',
 'glam metal',
 'hard rock',
 'rock',
 'album rock',
 'classic rock',
 'glam rock',
 'hard rock',
 'metal',
 'rock',
 'finnish metal',
 'finnish power metal',
 'gothic metal',
 'gothic symphonic metal',
 'opera metal',
 'power metal',
 'symphonic metal',
 'canadian hip hop',
 'canadian pop',
 'hip hop',
 'pop rap',
 'rap',
 'toronto rap',
 'canadian pop',
 'dance pop',
 'electropop',
 'indie poptimism',
 'pop',
 'post-teen pop',
 'dance pop',
 'pop',
 'post-teen pop',
 'funk carioca',
 'funk das antigas',
 'funk ostentacao',
 'funk pop',
 'dance pop',
 'neo mellow',
 'pop',
 'pop rock',
 'post-teen pop',
 'viral pop',
 'pagode',
 'sertanejo',
 'sertanejo pop',
 'sertanejo universitario',
 'alternative rock',
 'blues rock',
 'garage rock',
 'modern blues rock',
 'modern rock',
 'punk blues',
 'rock',
 'rap rock',
 'dance pop',
 'edm',
 'pop',
 'pop dance',
 'post-teen pop',
 'tropical house',
 'uk dance',
 'uk funky',
 'atl hip hop',
 'neo soul',
 'dance pop',
 'folk-pop',
 'neo mellow',
 'pop',
 'pop rock',
 'album rock',
 'art rock',
 'classic rock',
 'progressive rock',
 'psychedelic rock',
 'rock',
 'symphonic rock',
 'dance pop',
 'pop',
 'post-teen pop',
 'sertanejo',
 'sertanejo pop',
 'sertanejo universitario',
 'garage rock',
 'permanent wave',
 'rock',
 'sheffield indie',
 'dance pop',
 'edm',
 'pop',
 'pop dance',
 'modern blues rock',
 'electro house',
 'barbadian pop',
 'dance pop',
 'pop',
 'post-teen pop',
 'urban contemporary',
 'dance pop',
 'pop',
 'post-teen pop',
 'uk pop',
 'candy pop',
 'emo',
 'pixie',
 'pop emo',
 'pop punk',
 'dance pop',
 'pop',
 'post-teen pop',
 'canadian contemporary r&b',
 'canadian pop',
 'pop',
 'mpb',
 'nova mpb',
 'pop nacional',
 'candy pop',
 'emo',
 'pixie',
 'pop emo',
 'pop punk',
 'canadian latin',
 'canadian pop',
 'dance pop',
 'pop',
 'pop rap',
 'folk-pop',
 'neo mellow',
 'pop',
 'pop rock',
 'dance pop',
 'miami hip hop',
 'pop',
 'pop rap',
 'dance pop',
 'hip pop',
 'pop',
 'post-teen pop',
 'big room',
 'dance pop',
 'edm',
 'pop',
 'pop dance',
 'rap rock',
 'dance pop',
 'edm',
 'grime',
 'house',
 'pop dance',
 'pop rap',
 'tropical house',
 'dance pop',
 'edm',
 'electro house',
 'moombahton',
 'pop',
 'pop dance',
 'pop rap',
 'rap rock',
 'french indie pop',
 'french rock',
 'canadian contemporary r&b',
 'canadian pop',
 'pop',
 'alternative metal',
 'nu metal',
 'post-grunge',
 'rap metal',
 'glam metal',
 'hard rock',
 'rock',
 'k-pop',
 'k-pop girl group',
 'east coast hip hop',
 'hip hop',
 'pop rap',
 'rap',
 'dance pop',
 'pop',
 'post-teen pop',
 'hard rock',
 'metal',
 'old school thrash',
 'rock',
 'thrash metal',
 'mpb',
 'nova mpb',
 'pop nacional',
 'dance pop',
 'pop',
 'post-teen pop',
 'uk pop',
 'dance pop',
 'edm',
 'electronic trap',
 'pop',
 'pop dance',
 'pop rap',
 'sertanejo',
 'sertanejo pop',
 'sertanejo universitario',
 'dance pop',
 'pop',
 'pop rap',
 'brazilian hip hop',
 'brazilian reggae',
 'brazilian rock',
 'latin alternative',
 'rock nacional brasileiro',
 'dutch hip hop',
 'tropical house',
 'modern rock',
 'rock',
 'sertanejo',
 'sertanejo universitario',
 'german techno',
 'trance',
 'uplifting trance',
 'big room',
 'dance pop',
 'edm',
 'pop',
 'pop dance',
 'pop',
 'pop rock',
 'belgian dance',
 'belgian pop',
 'eurodance',
 'europop',
 'hard rock',
 'metal',
 'old school thrash',
 'rock',
 'thrash metal',
 'brostep',
 'dance pop',
 'edm',
 'electro house',
 'electronic trap',
 'electropop',
 'house',
 'moombahton',
 'pop',
 'pop dance',
 'slap house',
 'tropical house',
 'detroit hip hop',
 'hip hop',
 'rap',
 'dutch trance',
 'edm',
 'pop dance',
 'progressive house',
 'trance',
 'classic rock',
 'glam rock',
 'rock',
 'dance pop',
 'k-pop',
 'k-pop girl group',
 'mellow gold',
 'japanese old school hip hop',
 'pop',
 'r&b',
 'soul',
 'dutch trance',
 'edm',
 'pop dance',
 'progressive house',
 'trance',
 'neo mellow',
 'pop',
 'pop rock',
 'glam metal',
 'hard rock',
 'rock',
 'bossa nova',
 'mpb',
 'samba de roda',
 'tropicalia',
 'dance pop',
 'edm',
 'pop',
 'pop dance',
 'tropical house',
 'uk dance',
 'complextro',
 'dance pop',
 'edm',
 'electro house',
 'electropop',
 'german techno',
 'pop',
 'pop dance',
 'post-teen pop',
 'tropical house',
 'alternative metal',
 'modern rock',
 'nu metal',
 'post-grunge',
 'south african rock',
 'pop',
 'pop rock',
 'alternative rock',
 'neo mellow',
 'permanent wave',
 'pop rock',
 'post-grunge',
 'fake',
 'glam metal',
 'hard rock',
 'rock',
 'permanent wave',
 'pop',
 'dance pop',
 'pop',
 'dance pop',
 'girl group',
 'pop',
 'post-teen pop',
 'talent show',
 'dutch trance',
 'edm',
 'pop dance',
 'progressive house',
 'trance',
 'british soul',
 'pop',
 'pop soul',
 'uk pop',
 'british soul',
 'pop',
 'pop soul',
 'uk pop',
 'dance pop',
 'miami hip hop',
 'pop',
 'pop rap',
 'k-pop',
 'k-pop boy group',
 'sertanejo',
 'sertanejo pop',
 'sertanejo universitario',
 'dance pop',
 'pop rap',
 'canadian electronic',
 'dance pop',
 'edm',
 'electro house',
 'pop dance',
 'pop edm',
 'slap house',
 'tropical house',
 'sertanejo',
 'sertanejo pop',
 'sertanejo universitario',
 'dance pop',
 'pop',
 'post-teen pop',
 'viral pop',
 'folk-pop',
 'modern rock',
 'neo-singer-songwriter',
 'pop',
 'pop rock',
 'mpb',
 'nova mpb',
 'trance',
 'uplifting trance',
 'album rock',
 'german hard rock',
 'german metal',
 'german rock',
 'hard rock',
 'metal',
 'rock',
 'dance pop',
 'pop',
 'post-teen pop',
 'dance pop',
 'edm',
 'electropop',
 'pop',
 'pop dance',
 'tropical house',
 'dance pop',
 'electropop',
 'pop edm',
 'adult standards',
 'disco',
 'funk',
 'motown',
 'quiet storm',
 'soul',
 'art pop',
 'dance pop',
 'electropop',
 'metropopolis',
 'nz pop',
 'pop',
 'post-teen pop',
 'pop',
 'uk pop',
 'pop',
 'post-teen pop',
 'folk',
 'lilith',
 'singer-songwriter',
 "women's music",
 'edm',
 'pop dance',
 'progressive house',
 'progressive trance',
 'trance',
 'uplifting trance',
 'dance pop',
 'edm',
 'pop',
 'pop dance',
 'alternative metal',
 'nu metal',
 'post-grunge',
 'rap metal',
 'hard rock',
 'metal',
 'old school thrash',
 'rock',
 'thrash metal',
 'dance pop',
 'neo mellow',
 'pop',
 'pop rock',
 'post-teen pop',
 'talent show',
 'pop',
 'uk pop',
 'canadian latin',
 'canadian pop',
 'dance pop',
 'pop',
 'pop rap',
 'romanian house',
 'romanian pop',
 'beatlesque',
 'britpop',
 'madchester',
 'permanent wave',
 'rock',
 'electro house',
 'funk carioca',
 'funk pop',
 'pagode baiano',
 'pop nacional',
 'progressive house',
 'trance',
 'uplifting trance',
 'vocal trance',
 'album rock',
 'art rock',
 'classic rock',
 'progressive rock',
 'psychedelic rock',
 'rock',
 'symphonic rock',
 'album rock',
 'hard rock',
 'metal',
 'nwobhm',
 'rock',
 'edm',
 'pop',
 'pop dance',
 'tropical house',
 'neo soul',
 'r&b',
 'brazilian rock',
 'mpb',
 'nova mpb',
 'german techno',
 'trance',
 'uplifting trance',
 'dance pop',
 'pop',
 'art pop',
 'candy pop',
 'dance pop',
 'electropop',
 'hyperpop',
 'metropopolis',
 'pop',
 'post-teen pop',
 'uk pop',
 'pop',
 'uk pop',
 'dance pop',
 'k-pop',
 'k-pop girl group',
 'brazilian rock',
 'mpb',
 'pop rock brasileiro',
 'rock mineiro',
 'rock nacional brasileiro',
 'sertanejo',
 'sertanejo universitario',
 'dance pop',
 'electropop',
 'pop',
 'post-teen pop',
 'album rock',
 'hard rock',
 'metal',
 'nwobhm',
 'rock',
 'dance pop',
 'hip hop',
 'pittsburgh rap',
 'pop rap',
 'rap',
 'southern hip hop',
 'trap',
 'british soul',
 'pop',
 'pop soul',
 'uk pop',
 'funk carioca',
 'funk pop',
 'pagode baiano',
 'pop nacional',
 'dance pop',
 'pop',
 'post-teen pop',
 'dance pop',
 'electropop',
 'metropopolis',
 'pop',
 'pop rap',
 'post-teen pop',
 'swedish electropop',
 'swedish pop',
 'swedish synthpop',
 'belgian dance',
 'belgian pop',
 'eurodance',
 'europop',
 'detroit hip hop',
 'hip hop',
 'rap',
 'belgian dance',
 'belgian pop',
 'eurodance',
 'europop',
 'dance pop',
 'latin',
 'miami hip hop',
 'pop',
 'pop rap',
 'dance pop',
 'miami hip hop',
 'pop',
 'pop rap',
 'dance pop',
 'edm',
 'electronic trap',
 'pop',
 'pop dance',
 'pop rap',
 'latin',
 'latin pop',
 'puerto rican pop',
 'dance pop',
 'lilith',
 'new wave pop',
 'permanent wave',
 'pop rock',
 'swedish pop',
 'icelandic indie',
 'icelandic rock',
 'modern alternative rock',
 'modern rock',
 'dance pop',
 'pop',
 'post-teen pop',
 'dance pop',
 'hip pop',
 'pop',
 'post-teen pop',
 'big room',
 'edm',
 'electro house',
 'pop dance',
 'pop edm',
 'progressive electro house',
 'progressive house',
 'progressive trance',
 'russian edm',
 'trance',
 'tropical house',
 'uplifting trance',
 'album rock',
 'classic rock',
 'country rock',
 'folk rock',
 'heartland rock',
 'mellow gold',
 'rock',
 'soft rock',
 'yacht rock',
 'dance pop',
 'edm',
 'pop',
 'pop dance',
 'post-teen pop',
 'tropical house',
 'uk dance',
 'uk funky',
 'canadian pop',
 'candy pop',
 'dance pop',
 'pop',
 'post-teen pop',
 'glam metal',
 'hard rock',
 'rock',
 'australian pop',
 'dance pop',
 'edm',
 'pop',
 'pop dance',
 'post-teen pop',
 'tropical house',
 'uk dance',
 'uk funky',
 'hard rock',
 'metal',
 'old school thrash',
 'rock',
 'thrash metal',
 'dance pop',
 'edm',
 'electro house',
 'house',
 'pop',
 'progressive house',
 'uk dance',
 'eurodance',
 'europop',
 'finnish edm',
 'trance',
 'hard rock',
 'metal',
 'old school thrash',
 'rock',
 'thrash metal',
 'complextro',
 'dance pop',
 'edm',
 'electro house',
 'electropop',
 'german techno',
 'pop',
 'pop dance',
 'post-teen pop',
 'tropical house',
 'dance pop',
 'dutch edm',
 'edm',
 'pop',
 'pop dance',
 'progressive house',
 'tropical house',
 'dance pop',
 'edm',
 'electro house',
 'house',
 'pop',
 'progressive house',
 'uk dance',
 'australian dance',
 'australian pop',
 'pop',
 'blues rock',
 'classic rock',
 'mexican classic rock',
 'lo-fi beats',
 'big beat',
 'downtempo',
 'electronica',
 'hip hop',
 'trip hop',
 'turntablism',
 'pop',
 'post-teen pop',
 'alternative metal',
 'canadian rock',
 'nu metal',
 'post-grunge',
 'dance pop',
 'pop',
 'big room',
 'dance pop',
 'edm',
 'pop',
 'pop dance',
 'disco',
 'dance pop',
 'electropop',
 'indie poptimism',
 'pop rock',
 'album rock',
 'art rock',
 'classic rock',
 'progressive rock',
 'psychedelic rock',
 'rock',
 'symphonic rock',
 'big room',
 'brostep',
 'dance pop',
 'dutch edm',
 'edm',
 'electro house',
 'house',
 'pop dance',
 'slap house',
 'trance',
 'tropical house',
 'dance pop',
 'edm',
 'electro house',
 'german dance',
 'pop',
 'pop dance',
 'pop edm',
 'pop rap',
 'tropical house',
 'forro',
 'sertanejo pop',
 'belgian dance',
 'belgian pop',
 'eurodance',
 'europop',
 'dance pop',
 'pop',
 'post-teen pop',
 'dance pop',
 'piano rock',
 'pop',
 'pop rock',
 'art pop',
 'dance pop',
 'electropop',
 'metropopolis',
 'nz pop',
 'pop',
 'post-teen pop',
 'pop',
 'pop rock',
 'brazilian rock',
 'folk brasileiro',
 'mpb',
 'nova mpb',
 'folk-pop',
 'modern rock',
 'pop rock',
 'stomp and holler',
 'canadian pop',
 'pop',
 'post-teen pop',
 'art pop',
 'dance pop',
 'electropop',
 'pop',
 'swedish electropop',
 'swedish indie pop',
 'swedish pop',
 'dutch trance',
 'edm',
 'pop dance',
 'progressive house',
 'trance',
 'funk melody',
 'pagode',
 'funk carioca',
 'funk pop',
 'pagode baiano',
 'pop nacional',
 'dance pop',
 'pop',
 'post-teen pop',
 'r&b',
 'fake',
 'funk carioca',
 'sertanejo',
 'sertanejo pop',
 'sertanejo universitario',
 'neo soul',
 'pop',
 'pop soul',
 'r&b',
 'urban contemporary',
 'dance pop',
 'pop',
 'post-teen pop',
 'urban contemporary',
 'indie pop rap',
 'seattle hip hop',
 'canadian pop',
 'dance pop',
 'pop',
 'post-teen pop',
 'viral pop',
 'blues rock',
 'classic rock',
 'mexican classic rock',
 'belgian dance',
 'belgian pop',
 'eurodance',
 'europop',
 'black metal',
 'british black metal',
 'gothic black metal',
 'gothic metal',
 'metal',
 'nu metal',
 'symphonic black metal',
 'brazilian rock',
 'nova mpb',
 'canadian electronic',
 'edm',
 'electro house',
 'pop dance',
 'progressive house',
 'christian hip hop',
 'complextro',
 'dance pop',
 'edm',
 'electro house',
 'electropop',
 'german techno',
 'pop',
 'pop dance',
 'post-teen pop',
 'tropical house',
 'dance pop',
 'electropop',
 'metropopolis',
 'pop',
 'pop rap',
 'post-teen pop',
 'swedish electropop',
 'swedish pop',
 'swedish synthpop',
 'pop',
 'pop rock',
 'dance pop',
 'edm',
 'pop',
 'pop dance',
 'electro',
 'filter house',
 'pop nacional',
 'sertanejo pop',
 'sertanejo universitario',
 'dance pop',
 'k-pop',
 'k-pop girl group',
 'album rock',
 'blues rock',
 'classic rock',
 'country rock',
 'hard rock',
 'mellow gold',
 'rock',
 'southern rock',
 'glam metal',
 'hard rock',
 'rock',
 'progressive house',
 'trance',
 'uplifting trance',
 'vocal trance',
 'dance pop',
 'neon pop punk',
 'pop punk',
 'post-teen pop',
 'k-pop',
 'k-pop boy group',
 'dance pop',
 'pop dance',
 'pop rap',
 'dance pop',
 'edm',
 'electro house',
 'pop',
 'pop dance',
 'tropical house',
 'dance pop',
 'edm',
 'electropop',
 'indietronica',
 'metropopolis',
 'pop',
 'post-teen pop',
 'uk pop',
 'dance pop',
 'dance pop',
 'edm',
 'pop',
 'pop dance',
 'post-teen pop',
 ...]

In [162]:
genre_data_t={
    'genre': genre_list_t
}

In [163]:
genre_data_t=pd.DataFrame(genre_data_t)

In [164]:
genre_data_t.shape

(1272, 1)

In [165]:
genre_data_t['genre'].value_counts()

pop                     120
dance pop               106
post-teen pop            53
edm                      50
pop dance                44
                       ...
latin alternative         1
trip hop                  1
hard rock brasileiro      1
pittsburgh rap            1
folk rock                 1
Name: genre, Length: 240, dtype: int64

# <font color= red> Spotify Natascha

## Pegando os dados de historico e concatenando num df só

In [166]:
historico1=pd.read_json('/content/drive/MyDrive/3_VAMO_AI/Dados_Natascha/Dados_Spotify_Descomprimido/MyData/StreamingHistory0.json')
historico1.head()

            endTime     artistName                  trackName  msPlayed
0  2020-07-18 00:01         Metric  Gimme Sympathy - Acoustic    207040
1  2020-07-18 00:04         Metric  Gimme Sympathy - Acoustic    207040
2  2020-07-18 00:06          Mirah              Special Death     96810
3  2020-07-18 00:07           Beck                     Ramona     45210
4  2020-07-18 00:11  The Bluetones           Sleazy Bed Track     19747

In [167]:
historico2=pd.read_json('/content/drive/MyDrive/3_VAMO_AI/Dados_Natascha/Dados_Spotify_Descomprimido/MyData/StreamingHistory1.json')
historico2.head()

            endTime    artistName         trackName  msPlayed
0  2020-11-02 00:10       Garbage       Stupid Girl       390
1  2020-11-02 00:10     Lady Gaga         Paparazzi      1070
2  2020-11-02 00:10     Ida Maria         Bad Karma      1450
3  2020-11-02 00:14  Gwen Stefani  The Sweet Escape    246466
4  2020-11-02 00:19  Joy Division        Dead Souls    295506

In [168]:
historico3=pd.read_json('/content/drive/MyDrive/3_VAMO_AI/Dados_Natascha/Dados_Spotify_Descomprimido/MyData/StreamingHistory2.json')
historico3.head()

            endTime   artistName                            trackName  msPlayed
0  2021-02-16 17:36      La Roux                          Bulletproof    205692
1  2021-02-16 17:39   Gino Paoli                           Senza fine    167443
2  2021-02-16 17:45        Queen  Bohemian Rhapsody - Remastered 2011    354204
3  2021-02-16 17:48         Hole                           Miss World    179912
4  2021-02-16 17:52  Marina Lima                  Nosso Estranho Amor    225706

In [169]:
frames=(historico1,historico2,historico3)
hist_final=pd.concat(frames)
hist_final.shape

(25171, 4)

## Analisando o histórico
---

In [170]:
hist_final['trackName'].value_counts()

Circles                         194
I Ran (So Far Away)             190
Major Tom - Coming Home         139
Bad Guy                         137
I Was Made For Lovin' You       132
                               ...
Crush                             1
Um Amor Puro                      1
Sem Nome, Mas Com Endereço        1
Pensando Bem                      1
You Learn - Live / Unplugged      1
Name: trackName, Length: 2000, dtype: int64

Tranformando em datetime para separar por ano, mês, dia e dia da semana

In [171]:
hist_final['endTime']=pd.to_datetime(hist_final['endTime'])

In [172]:
hist_final['year']=pd.DatetimeIndex(hist_final['endTime']).year
hist_final['month']=pd.DatetimeIndex(hist_final['endTime']).month
hist_final['day']=pd.DatetimeIndex(hist_final['endTime']).day
hist_final['day_name']=hist_final['endTime'].dt.day_name()

In [173]:
hist_final['part_of_day'] = hist_final['endTime'].dt.hour.apply(get_part_of_day)

In [174]:
hist_final["month"].replace(month, inplace=True)
hist_final.head()

              endTime     artistName  ...  day_name  part_of_day
0 2020-07-18 00:01:00         Metric  ...  Saturday   Late Night
1 2020-07-18 00:04:00         Metric  ...  Saturday   Late Night
2 2020-07-18 00:06:00          Mirah  ...  Saturday   Late Night
3 2020-07-18 00:07:00           Beck  ...  Saturday   Late Night
4 2020-07-18 00:11:00  The Bluetones  ...  Saturday   Late Night

[5 rows x 9 columns]

In [175]:
hist_final['day_name'].value_counts()

Thursday     4738
Tuesday      3914
Saturday     3719
Sunday       3654
Wednesday    3178
Friday       3145
Monday       2823
Name: day_name, dtype: int64

In [176]:
hist_final['trackName'].value_counts().head(10)

Circles                       194
I Ran (So Far Away)           190
Major Tom - Coming Home       139
Bad Guy                       137
I Was Made For Lovin' You     132
Dancing Queen                 124
I Touch Myself                123
Palavras No Corpo             118
Quando Bate Aquela Saudade    111
Mamma Mia                     108
Name: trackName, dtype: int64

In [177]:
hist_final['part_of_day'].value_counts()

Late Night       7824
Evening          5092
Night            4946
Noon             3549
Early Morning    1929
Morning          1831
Name: part_of_day, dtype: int64

## Abrindo o arquivo de biblioteca

In [178]:
with open('/content/drive/MyDrive/3_VAMO_AI/Dados_Natascha/Dados_Spotify_Descomprimido/MyData/YourLibrary.json', encoding="utf8") as f:
    biblioteca_nat=json.load(f)

type(biblioteca_nat)

dict

In [179]:
biblioteca_nat.keys()

dict_keys(['tracks', 'albums', 'shows', 'episodes', 'bannedTracks', 'artists', 'bannedArtists', 'other'])

Depois de transformar em dicionário, transformo cada índice num df

In [180]:
faixas=pd.json_normalize(biblioteca_nat['tracks'])
albuns=pd.json_normalize(biblioteca_nat['albums'])
podcasts=pd.json_normalize(biblioteca_nat['shows'])
artistas=pd.json_normalize(biblioteca_nat['artists'])

## Renomeando as colunas paraevitar duplicidade

In [181]:
faixas.head(1)

     artist          album        track                                   uri
0  Lykke Li  I Never Learn  Silver Line  spotify:track:3Thvm2A6Vcaia8AE7ycZkI

In [182]:
faixas.rename(columns={'artist':'faixas.artist','album':'faixas.album','track':'faixas.track','uri':'faixas.uri'},inplace=True)

In [183]:
albuns.head(1)

   artist       album                                   uri
0  Metric  Synthetica  spotify:album:1acDBFm5wQ58sJKv8VWoWo

In [184]:
albuns.rename(columns={'artist':'albuns.artist', 'album':'albuns.album', 'uri':'album.uri'},inplace=True)

In [185]:
podcasts.head(1)

                      name      publisher                                  uri
0  Respondendo em Voz Alta  Laurinha Lero  spotify:show:0znjxREK2kgs1iL0i7W46V

In [186]:
podcasts.rename(columns={'name':'podcast.name','publisher':'podcast.publisher','uri':'podcast.uri'},inplace=True)

In [187]:
artistas.head(1)

   name                                    uri
0  ABBA  spotify:artist:0LcJLqbBmaGUft1e9Mm8HV

In [188]:
artistas.rename(columns={'name': 'artistas.name','uri':'artistas.uri'},inplace=True)

In [189]:
lista=[faixas, albuns, podcasts, episodios,outros]
biblioteca_nat=pd.concat(lista,axis=1)

In [190]:
biblioteca_nat.head()

  faixas.artist  ...                          podcast.uri
0      Lykke Li  ...  spotify:show:0znjxREK2kgs1iL0i7W46V
1  Los Hermanos  ...  spotify:show:2QkxibooVC8JMhXaeHLW4h
2      Lykke Li  ...                                  NaN
3   David Bowie  ...                                  NaN
4       La Roux  ...                                  NaN

[5 rows x 10 columns]

## Quais artistas eu mais tenho curtido

In [191]:
biblioteca_nat['faixas.artist'].value_counts()

The Killers       44
Lykke Li          38
P!nk              24
Joy Division      23
Hole              23
                  ..
Joe Cocker         1
Patrick Swayze     1
Arcade Fire        1
Gotye              1
Duran Duran        1
Name: faixas.artist, Length: 178, dtype: int64

## Spotipy

In [192]:
biblioteca_nat['artist_id']=biblioteca_nat.loc[:,'faixas.artist']

In [193]:
biblioteca_nat['artist_id']= biblioteca_nat['artist_id'].apply(get_artist_id)

In [194]:
biblioteca_nat.head(1)

  faixas.artist  ...               artist_id
0      Lykke Li  ...  6oBm8HB0yfrIc9IHbxs6in

[1 rows x 11 columns]

In [195]:
biblioteca_nat['genre']=biblioteca_nat.loc[:,'faixas.artist']

In [196]:
biblioteca_nat['genre']=biblioteca_nat['genre'].apply(artist_genre)

In [197]:
biblioteca_nat.head(1)

  faixas.artist  ...                                              genre
0      Lykke Li  ...  [art pop, dance pop, electropop, pop, swedish ...

[1 rows x 12 columns]

Pegando cada genero listado no df e colocando numa unica lista

In [198]:
genre_list=[]
genre = biblioteca_nat['genre'].tolist()
for i in genre:
  for j in range(len(i)):
    genre_list.append(i[j])
genre_list

['art pop',
 'dance pop',
 'electropop',
 'pop',
 'swedish electropop',
 'swedish indie pop',
 'swedish pop',
 'cumbia sonidera',
 'grupera',
 'gruperas inmortales',
 'regional mexican',
 'tropical',
 'art pop',
 'dance pop',
 'electropop',
 'pop',
 'swedish electropop',
 'swedish indie pop',
 'swedish pop',
 'art rock',
 'classic rock',
 'glam rock',
 'permanent wave',
 'rock',
 'alternative dance',
 'dance pop',
 'electropop',
 'neo-synthpop',
 'new rave',
 'dance rock',
 'modern rock',
 'permanent wave',
 'rock',
 'disco',
 'europop',
 'italian disco',
 'vintage french electronic',
 'funk carioca',
 'pop lgbtq+ brasileira',
 'dance pop',
 'pop',
 'post-teen pop',
 'album rock',
 'art rock',
 'beatlesque',
 'classic rock',
 'mellow gold',
 'rock',
 'soft rock',
 'dance pop',
 'pop',
 'post-teen pop',
 'bossa nova',
 'mpb',
 'samba de roda',
 'tropicalia',
 'brazilian rock',
 'mpb',
 'rock brasiliense',
 'rock nacional brasileiro',
 'bossa nova',
 'mpb',
 'samba de roda',
 'tropicalia',
 'dance pop',
 'pop',
 'post-teen pop',
 'brazilian indie',
 'brazilian rock',
 'mpb',
 'grunge',
 'permanent wave',
 'rock',
 'cumbia sonidera',
 'grupera',
 'gruperas inmortales',
 'regional mexican',
 'tropical',
 'emo',
 'pop punk',
 'dance rock',
 'modern rock',
 'permanent wave',
 'rock',
 'dance pop',
 'pop',
 'bossa nova',
 'mpb',
 'nova mpb',
 'bossa nova',
 'fado',
 'mpb',
 'tropicalia',
 'art pop',
 'dance pop',
 'electropop',
 'pop',
 'swedish electropop',
 'swedish indie pop',
 'swedish pop',
 'alternative rock',
 'grunge',
 'lilith',
 'pop rock',
 'rock',
 'brazilian rock',
 'mpb',
 'rock brasiliense',
 'rock nacional brasileiro',
 'alternative rock',
 'grunge',
 'lilith',
 'pop rock',
 'rock',
 'alternative rock',
 'art rock',
 'madchester',
 'new wave',
 'post-punk',
 'rock',
 'uk post-punk',
 'alternative dance',
 'dance pop',
 'dance-punk',
 'electropop',
 'new rave',
 'chanson',
 'torch song',
 'vintage schlager',
 'dance pop',
 'pop',
 'post-teen pop',
 'dance rock',
 'modern rock',
 'permanent wave',
 'rock',
 'alternative dance',
 'alternative rock',
 'dance pop',
 'dance rock',
 'electronic rock',
 'lilith',
 'permanent wave',
 'pop rock',
 'rock',
 'album rock',
 'blues rock',
 'classic rock',
 'mellow gold',
 'rock',
 'soft rock',
 'punk',
 'ska',
 'ska punk',
 'skate punk',
 'dance pop',
 'pop',
 'post-teen pop',
 'alternative metal',
 'album rock',
 'classic rock',
 'hard rock',
 'mellow gold',
 'rock',
 'soft rock',
 'alternative rock',
 'art rock',
 'melancholia',
 'oxford indie',
 'permanent wave',
 'rock',
 'alternative dance',
 'dance pop',
 'electropop',
 'neo-synthpop',
 'new rave',
 'dance rock',
 'modern rock',
 'permanent wave',
 'rock',
 'jazz blues',
 'soul',
 'soul jazz',
 'torch song',
 'vocal jazz',
 'madchester',
 'new wave',
 'permanent wave',
 'rock',
 'uk post-punk',
 'bow pop',
 'new romantic',
 'new wave',
 'new wave pop',
 'art pop',
 'dance pop',
 'electropop',
 'pop',
 'swedish electropop',
 'swedish indie pop',
 'swedish pop',
 'dance pop',
 'pop',
 'alternative dance',
 'canadian indie',
 'canadian rock',
 'electropop',
 'indie pop',
 'indie rock',
 'indietronica',
 'metropopolis',
 'modern rock',
 'neo-synthpop',
 'new rave',
 'modern rock',
 'neo mellow',
 'pop punk',
 'pop rock',
 'post-teen pop',
 'brazilian rock',
 'mpb',
 'rock nacional brasileiro',
 'dance rock',
 'modern rock',
 'permanent wave',
 'rock',
 'art punk',
 'art rock',
 'folk rock',
 'permanent wave',
 'protopunk',
 'rock',
 'grunge',
 'permanent wave',
 'rock',
 'irish rock',
 'pop rock',
 'bossa nova',
 'mpb',
 'samba de roda',
 'tropicalia',
 'baroque',
 'classical',
 'early music',
 'italian baroque',
 'australian alternative rock',
 'australian rock',
 'new wave pop',
 'australian pop',
 'chanson',
 'madchester',
 'new wave',
 'permanent wave',
 'rock',
 'uk post-punk',
 'dance rock',
 'modern rock',
 'permanent wave',
 'rock',
 'indie pop',
 'lilith',
 'piano rock',
 'pop rock',
 'alternative rock',
 'art rock',
 'madchester',
 'new wave',
 'post-punk',
 'rock',
 'uk post-punk',
 'alternative rock',
 'grunge',
 'lilith',
 'pop rock',
 'rock',
 'alternative rock',
 'art rock',
 'classic rock',
 'folk rock',
 'melancholia',
 'permanent wave',
 'protopunk',
 'psychedelic rock',
 'rock',
 'art pop',
 'dance pop',
 'electropop',
 'pop',
 'swedish electropop',
 'swedish indie pop',
 'swedish pop',
 'bossa nova',
 'brazilian jazz',
 'mpb',
 'samba',
 'alternative dance',
 'canadian indie',
 'canadian rock',
 'electropop',
 'indie pop',
 'indie rock',
 'indietronica',
 'metropopolis',
 'modern rock',
 'neo-synthpop',
 'new rave',
 'nova mpb',
 'dance rock',
 'modern rock',
 'permanent wave',
 'rock',
 'dance rock',
 'modern rock',
 'permanent wave',
 'rock',
 'bossa nova',
 'mpb',
 'samba de roda',
 'tropicalia',
 'bossa nova',
 'mpb',
 'pagode',
 'samba',
 'velha guarda',
 'art pop',
 'dance pop',
 'electropop',
 'pop',
 'swedish electropop',
 'swedish indie pop',
 'swedish pop',
 'acoustic pop',
 'irish rock',
 'irish singer-songwriter',
 'neo mellow',
 'singer-songwriter',
 'dance rock',
 'modern rock',
 'permanent wave',
 'rock',
 'alternative dance',
 'indie rock',
 'indietronica',
 'modern rock',
 'rock',
 'alternative rock',
 'grunge',
 'lilith',
 'pop rock',
 'rock',
 'brill building pop',
 'folk rock',
 'lounge',
 'beatlesque',
 'british invasion',
 'classic rock',
 'merseybeat',
 'psychedelic rock',
 'rock',
 'mpb',
 'dance pop',
 'pop',
 'alternative rock',
 'grunge',
 'lilith',
 'pop rock',
 'rock',
 'dance rock',
 'mellow gold',
 'new romantic',
 'new wave',
 'new wave pop',
 'rock',
 'soft rock',
 'sophisti-pop',
 'synthpop',
 'cumbia sonidera',
 'grupera',
 'gruperas inmortales',
 'regional mexican',
 'tropical',
 'yacht rock',
 'art pop',
 'dance pop',
 'electropop',
 'pop',
 'swedish electropop',
 'swedish indie pop',
 'swedish pop',
 'dance pop',
 'pop',
 'brazilian rock',
 'mpb',
 'rock nacional brasileiro',
 'dance pop',
 'pop',
 'post-teen pop',
 'melancholia',
 'permanent wave',
 'rock',
 'singer-songwriter',
 'brazilian rock',
 'mpb',
 'rock nacional brasileiro',
 'bossa nova',
 'mpb',
 'samba',
 'tropicalia',
 'brazilian rock',
 'mpb',
 'pop rock brasileiro',
 'rock gaucho',
 'rock nacional brasileiro',
 'alternative rock',
 'art rock',
 'madchester',
 'new wave',
 'post-punk',
 'rock',
 'uk post-punk',
 'alternative rock',
 'art rock',
 'madchester',
 'new wave',
 'post-punk',
 'rock',
 'uk post-punk',
 'acoustic pop',
 'irish rock',
 'irish singer-songwriter',
 'neo mellow',
 'singer-songwriter',
 'grunge',
 'permanent wave',
 'rock',
 'cumbia sonidera',
 'grupera',
 'gruperas inmortales',
 'regional mexican',
 'tropical',
 'brazilian rock',
 'mpb',
 'rock brasiliense',
 'rock nacional brasileiro',
 'alternative dance',
 'canadian indie',
 'canadian rock',
 'electropop',
 'indie pop',
 'indie rock',
 'indietronica',
 'metropopolis',
 'modern rock',
 'neo-synthpop',
 'new rave',
 'bossa nova',
 'manguebeat',
 'mpb',
 'pagode',
 'samba',
 'samba-rock',
 'tropicalia',
 'dance pop',
 'pop',
 'post-teen pop',
 'brazilian indie',
 'mpb',
 'nova mpb',
 'beatlesque',
 'british invasion',
 'classic rock',
 'merseybeat',
 'psychedelic rock',
 'rock',
 'dance pop',
 'girl group',
 'alternative dance',
 'alternative rock',
 'dance pop',
 'dance rock',
 'electronic rock',
 'lilith',
 'permanent wave',
 'pop rock',
 'rock',
 'brazilian rock',
 'mpb',
 'rock nacional brasileiro',
 'pop rock brasileiro',
 'art pop',
 'dance pop',
 'electropop',
 'pop',
 'swedish electropop',
 'swedish indie pop',
 'swedish pop',
 'acoustic pop',
 'irish rock',
 'irish singer-songwriter',
 'neo mellow',
 'singer-songwriter',
 'brazilian rock',
 'mpb',
 'rock nacional brasileiro',
 'dance rock',
 'modern rock',
 'permanent wave',
 'rock',
 'funk carioca',
 'mpb',
 'nova mpb',
 'pop lgbtq+ brasileira',
 'dance pop',
 'pop',
 'post-teen pop',
 'alt z',
 'chill r&b',
 'cumbia sonidera',
 'grupera',
 'gruperas inmortales',
 'regional mexican',
 'tropical',
 'brazilian rock',
 'mpb',
 'rock nacional brasileiro',
 'dance rock',
 'modern rock',
 'permanent wave',
 'rock',
 'dance pop',
 'pop',
 'rock nacional brasileiro',
 'dance pop',
 'pop',
 'uk pop',
 'brazilian rock',
 'mpb',
 'rock nacional brasileiro',
 'alternative rock',
 'grunge',
 'lilith',
 'pop rock',
 'rock',
 'dance pop',
 'pop',
 'post-teen pop',
 'alternative dance',
 'dance pop',
 'electropop',
 'neo-synthpop',
 'new rave',
 'alternative rock',
 'art rock',
 'madchester',
 'new wave',
 'post-punk',
 'rock',
 'uk post-punk',
 'chanson',
 'torch song',
 'vintage schlager',
 'british invasion',
 'classic rock',
 'rock',
 'brazilian rock',
 'mpb',
 'rock brasiliense',
 'rock nacional brasileiro',
 'album rock',
 'classic rock',
 'hard rock',
 'rock',
 'art pop',
 'dance pop',
 'electropop',
 'pop',
 'swedish electropop',
 'swedish indie pop',
 'swedish pop',
 'alternative rock',
 'dance pop',
 'dance rock',
 'permanent wave',
 'pop rock',
 'australian rock',
 'classic rock',
 'dance rock',
 'funk rock',
 'mellow gold',
 'new romantic',
 'new wave',
 'new wave pop',
 'pop rock',
 'rock',
 'soft rock',
 'brazilian rock',
 'mpb',
 'rock brasiliense',
 'rock nacional brasileiro',
 'dance pop',
 'neo mellow',
 'pop',
 'pop rock',
 'post-teen pop',
 'talent show',
 'dance pop',
 'pop',
 'post-teen pop',
 'dance pop',
 'electropop',
 'pop',
 'post-teen pop',
 'alternative dance',
 'alternative rock',
 'dance pop',
 'dance rock',
 'electronic rock',
 'lilith',
 'permanent wave',
 'pop rock',
 'rock',
 'belgian singer-songwriter',
 'chanson',
 'french pop',
 'art pop',
 'dance pop',
 'electropop',
 'pop',
 'swedish electropop',
 'swedish indie pop',
 'swedish pop',
 'dance pop',
 'girl group',
 'dance rock',
 'mellow gold',
 'new romantic',
 'new wave',
 'new wave pop',
 'rock',
 'soft rock',
 'sophisti-pop',
 'synthpop',
 'hollywood',
 'movie tunes',
 'show tunes',
 'brazilian rock',
 'mpb',
 'pop rock brasileiro',
 'rock nacional brasileiro',
 'adult standards',
 'classic soundtrack',
 'easy listening',
 'lounge',
 'vocal jazz',
 'art pop',
 'dance pop',
 'electropop',
 'pop',
 'swedish electropop',
 'swedish indie pop',
 'swedish pop',
 'dance pop',
 'pop rock',
 'alternative rock',
 'blues rock',
 'detroit rock',
 'garage rock',
 'modern blues rock',
 'modern rock',
 'permanent wave',
 'punk blues',
 'rock',
 'alternative dance',
 'alternative rock',
 'dance pop',
 'dance rock',
 'electronic rock',
 'lilith',
 'permanent wave',
 'pop rock',
 'rock',
 'bossa nova',
 'brazilian indie',
 'mpb',
 'musica infantil',
 'permanent wave',
 'pop',
 'brazilian emo',
 'brazilian rock',
 'pop rock brasileiro',
 'dance pop',
 'girl group',
 'alternative country',
 'classic canadian rock',
 'country rock',
 'folk',
 'lilith',
 'melancholia',
 'new wave pop',
 'roots rock',
 'toronto indie',
 'album rock',
 'classic rock',
 'hard rock',
 'rock',
 'dance pop',
 'pop',
 'post-teen pop',
 'dance pop',
 'pop',
 'post-teen pop',
 'dance rock',
 'modern rock',
 'permanent wave',
 'rock',
 'grunge',
 'permanent wave',
 'rock',
 'bossa nova',
 'mpb',
 'samba de roda',
 'tropicalia',
 'dance rock',
 'modern rock',
 'permanent wave',
 'rock',
 'new romantic',
 'new wave',
 'new wave pop',
 'synthpop',
 'alternative dance',
 'alternative rock',
 'dance pop',
 'dance rock',
 'electronic rock',
 'lilith',
 'permanent wave',
 'pop rock',
 'rock',
 'dance rock',
 'modern rock',
 'permanent wave',
 'rock',
 'cumbia sonidera',
 'grupera',
 'gruperas inmortales',
 'regional mexican',
 'tropical',
 'dance pop',
 'pop',
 'post-teen pop',
 'dance pop',
 'pop',
 'dance pop',
 'pop',
 'post-teen pop',
 'alternative dance',
 'canadian indie',
 'canadian rock',
 'electropop',
 'indie pop',
 'indie rock',
 'indietronica',
 'metropopolis',
 'modern rock',
 'neo-synthpop',
 'new rave',
 'grunge',
 'permanent wave',
 'rock',
 'alternative rock',
 'art rock',
 'madchester',
 'new wave',
 'post-punk',
 'rock',
 'uk post-punk',
 'dance rock',
 'modern rock',
 'permanent wave',
 'rock',
 'dance pop',
 'pop',
 'post-teen pop',
 'contemporary vocal jazz',
 'jazz pop',
 'neo mellow',
 'vocal jazz',
 'hard rock',
 'rock',
 'europop',
 'new wave pop',
 'soft rock',
 'alternative dance',
 'canadian indie',
 'canadian rock',
 'electropop',
 'indie pop',
 'indie rock',
 'indietronica',
 'metropopolis',
 'modern rock',
 'neo-synthpop',
 'new rave',
 'alternative dance',
 'canadian indie',
 'canadian rock',
 'electropop',
 'indie pop',
 'indie rock',
 'indietronica',
 'metropopolis',
 'modern rock',
 'neo-synthpop',
 'new rave',
 'alt z',
 'chill r&b',
 'dance pop',
 'pop',
 'post-teen pop',
 'dark jazz',
 'montana indie',
 'dance pop',
 'neo mellow',
 'pop',
 'pop rock',
 'post-teen pop',
 'talent show',
 'funk carioca',
 'nova mpb',
 'pop lgbtq+ brasileira',
 'transpop',
 'dance rock',
 'modern rock',
 'permanent wave',
 'rock',
 'beatlesque',
 'britpop',
 'madchester',
 'permanent wave',
 'rock',
 'mpb',
 'acoustic pop',
 'irish rock',
 'irish singer-songwriter',
 'neo mellow',
 'singer-songwriter',
 'art punk',
 'art rock',
 'folk rock',
 'permanent wave',
 'protopunk',
 'rock',
 'french pop',
 'operatic pop',
 'alternative dance',
 'dance pop',
 'electropop',
 'neo-synthpop',
 'new rave',
 'dance pop',
 'hip pop',
 'pop',
 'post-teen pop',
 'urban contemporary',
 'brazilian rock',
 'mpb',
 'pop nacional',
 'alternative country',
 'classic canadian rock',
 'country rock',
 'folk',
 'lilith',
 'melancholia',
 'new wave pop',
 'roots rock',
 'toronto indie',
 'brega funk',
 'funk carioca',
 'brazilian rock',
 'mpb',
 'rock brasiliense',
 'rock nacional brasileiro',
 'alternative dance',
 'canadian indie',
 'canadian rock',
 'electropop',
 'indie pop',
 'indie rock',
 'indietronica',
 'metropopolis',
 'modern rock',
 'neo-synthpop',
 'new rave',
 'bossa nova',
 'brazilian jazz',
 'mpb',
 'samba',
 'neo mellow',
 'piano rock',
 'pop rock',
 'rock',
 'art pop',
 'dance pop',
 'electropop',
 'pop',
 'swedish electropop',
 'swedish indie pop',
 'swedish pop',
 'dance pop',
 'pop',
 'post-teen pop',
 'dance pop',
 'pop',
 'post-teen pop',
 'brazilian rock',
 'mpb',
 'pop rock brasileiro',
 'rock nacional brasileiro',
 'album rock',
 'classic rock',
 'mellow gold',
 'rock',
 'soft rock',
 'yacht rock',
 'dance pop',
 'pop',
 'post-teen pop',
 'brazilian indie',
 'mpb',
 'nova mpb',
 'nova musica paulista',
 'dance pop',
 'pop',
 'post-teen pop',
 'funk carioca',
 'pop lgbtq+ brasileira',
 'alternative dance',
 'dance pop',
 'electropop',
 'neo-synthpop',
 'new rave',
 'alternative dance',
 'canadian indie',
 'canadian rock',
 'electropop',
 'indie pop',
 'indie rock',
 'indietronica',
 'metropopolis',
 'modern rock',
 'neo-synthpop',
 'new rave',
 'album rock',
 'classic rock',
 'country rock',
 'hard rock',
 'mellow gold',
 'rock',
 'soft rock',
 'dance pop',
 'pop',
 'classic rock',
 'folk',
 'folk rock',
 'melancholia',
 'mellow gold',
 'rock',
 'alt z',
 'chill r&b',
 'art pop',
 'dance pop',
 'electropop',
 'pop',
 'swedish electropop',
 'swedish indie pop',
 'swedish pop',
 'cumbia sonidera',
 'grupera',
 'gruperas inmortales',
 'regional mexican',
 'tropical',
 'art pop',
 'dance pop',
 'electropop',
 'pop',
 'swedish electropop',
 'swedish indie pop',
 'swedish pop',
 'dance pop',
 'pop',
 'irish rock',
 'pop rock',
 'bossa nova',
 'mpb',
 'nova mpb',
 'alternative dance',
 'dance pop',
 'electropop',
 'neo-synthpop',
 ...]

In [199]:
genre_data_n={
    'genre': genre_list
}

In [200]:
genre_data_n=pd.DataFrame(genre_data_n)

In [201]:
genre_data_n.shape

(2888, 1)

# <Font color=red>Gmaps

## Carregando o json

In [202]:
def extract_activity(record):
    try:
        return record["activity"][0]["activity"][0]["type"]
    except:
        return None

In [203]:
with open ('/content/drive/MyDrive/3_VAMO_AI/01_Case_Ifood/Histórico de localização.json',encoding='utf-8') as f:
  gmaps=json.load(f)
gmaps

[{'accuracy': 24,
  'activity': [{'activity': [{'confidence': 38, 'type': 'STILL'},
     {'confidence': 38, 'type': 'UNKNOWN'},
     {'confidence': 23, 'type': 'IN_VEHICLE'}],
    'timestampMs': '1468850836455'}],
  'latitudeE7': -235145853,
  'longitudeE7': -463611635,
  'timestampMs': '1468850826205'},
 {'accuracy': 1500,
  'activity': [{'activity': [{'confidence': 44, 'type': 'IN_VEHICLE'},
     {'confidence': 27, 'type': 'STILL'},
     {'confidence': 27, 'type': 'UNKNOWN'},
     {'confidence': 2, 'type': 'ON_BICYCLE'}],
    'timestampMs': '1468850938727'}],
  'latitudeE7': -235101483,
  'longitudeE7': -463644180,
  'timestampMs': '1468850974589'},
 {'accuracy': 1500,
  'activity': [{'activity': [{'confidence': 58, 'type': 'UNKNOWN'},
     {'confidence': 29, 'type': 'IN_VEHICLE'},
     {'confidence': 12, 'type': 'STILL'},
     {'confidence': 2, 'type': 'ON_BICYCLE'}],
    'timestampMs': '1468851083948'},
   {'activity': [{'confidence': 48, 'type': 'STILL'},
     {'confidence': 31, 'type': 'UNKNOWN'},
     {'confidence': 21, 'type': 'IN_VEHICLE'}],
    'timestampMs': '1468851017537'}],
  'latitudeE7': -235101483,
  'longitudeE7': -463644180,
  'timestampMs': '1468851089062'},
 {'accuracy': 28,
  'latitudeE7': -235144876,
  'longitudeE7': -463610515,
  'timestampMs': '1468851104231'},
 {'accuracy': 351,
  'activity': [{'activity': [{'confidence': 56, 'type': 'STILL'},
     {'confidence': 23, 'type': 'IN_VEHICLE'},
     {'confidence': 18, 'type': 'UNKNOWN'},
     {'confidence': 3, 'type': 'ON_FOOT'},
     {'confidence': 3, 'type': 'WALKING'}],
    'timestampMs': '1468851134225'}],
  'latitudeE7': -235144876,
  'longitudeE7': -463610515,
  'timestampMs': '1468851129113'},
 {'accuracy': 1500,
  'activity': [{'activity': [{'confidence': 83, 'type': 'STILL'},
     {'confidence': 14, 'type': 'IN_VEHICLE'},
     {'confidence': 4, 'type': 'ON_FOOT'},
     {'confidence': 4, 'type': 'WALKING'}],
    'timestampMs': '1468851284175'},
   {'activity': [{'confidence': 100, 'type': 'TILTING'}],
    'timestampMs': '1468851209200'}],
  'latitudeE7': -235105499,
  'longitudeE7': -463647179,
  'timestampMs': '1468851250141'},
 {'accuracy': 1500,
  'latitudeE7': -235105499,
  'longitudeE7': -463647179,
  'timestampMs': '1468851318813'},
 {'accuracy': 1500,
  'activity': [{'activity': [{'confidence': 100, 'type': 'TILTING'}],
    'timestampMs': '1468851398950'},
   {'activity': [{'confidence': 83, 'type': 'STILL'},
     {'confidence': 18, 'type': 'IN_VEHICLE'}],
    'timestampMs': '1468851352952'}],
  'latitudeE7': -235105499,
  'longitudeE7': -463647179,
  'timestampMs': '1468851378820'},
 {'accuracy': 1500,
  'activity': [{'activity': [{'confidence': 85, 'type': 'STILL'},
     {'confidence': 8, 'type': 'IN_VEHICLE'},
     {'confidence': 8, 'type': 'ON_FOOT'},
     {'confidence': 8, 'type': 'WALKING'}],
    'timestampMs': '1468851444947'}],
  'latitudeE7': -235105499,
  'longitudeE7': -463647179,
  'timestampMs': '1468851439849'},
 {'accuracy': 1500,
  'latitudeE7': -235105499,
  'longitudeE7': -463647179,
  'timestampMs': '1468851499860'},
 {'accuracy': 1500,
  'latitudeE7': -235105499,
  'longitudeE7': -463647179,
  'timestampMs': '1468851559984'},
 {'accuracy': 1500,
  'activity': [{'activity': [{'confidence': 71, 'type': 'UNKNOWN'},
     {'confidence': 16, 'type': 'IN_VEHICLE'},
     {'confidence': 8, 'type': 'ON_BICYCLE'},
     {'confidence': 4, 'type': 'STILL'},
     {'confidence': 2, 'type': 'ON_FOOT'},
     {'confidence': 2, 'type': 'WALKING'}],
    'timestampMs': '1468851590506'},
   {'activity': [{'confidence': 100, 'type': 'TILTING'}],
    'timestampMs': '1468851517727'}],
  'latitudeE7': -235105499,
  'longitudeE7': -463647179,
  'timestampMs': '1468851620075'},
 {'accuracy': 1500,
  'activity': [{'activity': [{'confidence': 75, 'type': 'STILL'},
     {'confidence': 16, 'type': 'UNKNOWN'},
     {'confidence': 8, 'type': 'ON_BICYCLE'},
     {'confidence': 2, 'type': 'IN_VEHICLE'}],
    'timestampMs': '1468851654217'}],
  'latitudeE7': -235105499,
  'longitudeE7': -463647179,
  'timestampMs': '1468851680156'},
 {'accuracy': 1500,
  'latitudeE7': -235105499,
  'longitudeE7': -463647179,
  'timestampMs': '1468851740244'},
 {'accuracy': 1500,
  'activity': [{'activity': [{'confidence': 100, 'type': 'STILL'}],
    'timestampMs': '1468851806491'}],
  'latitudeE7': -235105499,
  'longitudeE7': -463647179,
  'timestampMs': '1468851801377'},
 {'accuracy': 1500,
  'latitudeE7': -235105499,
  'longitudeE7': -463647179,
  'timestampMs': '1468851862146'},
 {'accuracy': 1500,
  'latitudeE7': -235105499,
  'longitudeE7': -463647179,
  'timestampMs': '1468851937706'},
 {'accuracy': 1500,
  'latitudeE7': -235105499,
  'longitudeE7': -463647179,
  'timestampMs': '1468852065290'},
 {'accuracy': 1500,
  'latitudeE7': -235105499,
  'longitudeE7': -463647179,
  'timestampMs': '1468852180467'},
 {'accuracy': 1500,
  'latitudeE7': -235105499,
  'longitudeE7': -463647179,
  'timestampMs': '1468852322463'},
 {'accuracy': 1500,
  'latitudeE7': -235105499,
  'longitudeE7': -463647179,
  'timestampMs': '1468852431761'},
 {'accuracy': 1500,
  'latitudeE7': -235105499,
  'longitudeE7': -463647179,
  'timestampMs': '1468852527927'},
 {'accuracy': 1500,
  'latitudeE7': -235105499,
  'longitudeE7': -463647179,
  'timestampMs': '1468852589821'},
 {'accuracy': 1500,
  'latitudeE7': -235105499,
  'longitudeE7': -463647179,
  'timestampMs': '1468852786289'},
 {'accuracy': 1500,
  'latitudeE7': -235101483,
  'longitudeE7': -463644180,
  'timestampMs': '1468852908970'},
 {'accuracy': 1500,
  'latitudeE7': -235105499,
  'longitudeE7': -463647179,
  'timestampMs': '1468853031284'},
 {'accuracy': 1500,
  'latitudeE7': -235105499,
  'longitudeE7': -463647179,
  'timestampMs': '1468853153110'},
 {'accuracy': 1500,
  'latitudeE7': -235105499,
  'longitudeE7': -463647179,
  'timestampMs': '1468853224239'},
 {'accuracy': 1500,
  'latitudeE7': -235105499,
  'longitudeE7': -463647179,
  'timestampMs': '1468853287341'},
 {'accuracy': 1500,
  'latitudeE7': -235105499,
  'longitudeE7': -463647179,
  'timestampMs': '1468853387360'},
 {'accuracy': 1500,
  'latitudeE7': -235105499,
  'longitudeE7': -463647179,
  'timestampMs': '1468854267076'},
 {'accuracy': 1500,
  'latitudeE7': -235105499,
  'longitudeE7': -463647179,
  'timestampMs': '1468854375328'},
 {'accuracy': 1500,
  'latitudeE7': -235105499,
  'longitudeE7': -463647179,
  'timestampMs': '1468854584469'},
 {'accuracy': 1500,
  'latitudeE7': -235105499,
  'longitudeE7': -463647179,
  'timestampMs': '1468854653242'},
 {'accuracy': 1500,
  'latitudeE7': -235105499,
  'longitudeE7': -463647179,
  'timestampMs': '1468854837042'},
 {'accuracy': 1500,
  'latitudeE7': -235105499,
  'longitudeE7': -463647179,
  'timestampMs': '1468854931873'},
 {'accuracy': 1500,
  'latitudeE7': -235105499,
  'longitudeE7': -463647179,
  'timestampMs': '1468854993556'},
 {'accuracy': 49,
  'activity': [{'activity': [{'confidence': 100, 'type': 'TILTING'}],
    'timestampMs': '1468853657819'}],
  'latitudeE7': -235146209,
  'longitudeE7': -463616234,
  'timestampMs': '1468855478847'},
 {'accuracy': 27,
  'activity': [{'activity': [{'confidence': 56, 'type': 'STILL'},
     {'confidence': 31, 'type': 'IN_VEHICLE'},
     {'confidence': 8, 'type': 'ON_BICYCLE'},
     {'confidence': 6, 'type': 'UNKNOWN'}],
    'timestampMs': '1468855509146'}],
  'latitudeE7': -235146172,
  'longitudeE7': -463610140,
  'timestampMs': '1468855495190'},
 {'accuracy': 1500,
  'latitudeE7': -235105499,
  'longitudeE7': -463647179,
  'timestampMs': '1468855560278'},
 {'accuracy': 1500,
  'latitudeE7': -235105499,
  'longitudeE7': -463647179,
  'timestampMs': '1468855585969'},
 {'accuracy': 1500,
  'latitudeE7': -235105499,
  'longitudeE7': -463647179,
  'timestampMs': '1468855649378'},
 {'accuracy': 1500,
  'activity': [{'activity': [{'confidence': 87, 'type': 'STILL'},
     {'confidence': 10, 'type': 'IN_VEHICLE'},
     {'confidence': 3, 'type': 'ON_FOOT'},
     {'confidence': 3, 'type': 'WALKING'}],
    'timestampMs': '1468855697794'}],
  'latitudeE7': -235105499,
  'longitudeE7': -463647179,
  'timestampMs': '1468855675672'},
 {'accuracy': 1500,
  'latitudeE7': -235105499,
  'longitudeE7': -463647179,
  'timestampMs': '1468855735618'},
 {'accuracy': 22,
  'activity': [{'activity': [{'confidence': 100, 'type': 'TILTING'}],
    'timestampMs': '1468855776315'}],
  'latitudeE7': -235145783,
  'longitudeE7': -463610327,
  'timestampMs': '1468855779024'},
 {'accuracy': 1500,
  'latitudeE7': -235105499,
  'longitudeE7': -463647179,
  'timestampMs': '1468855849135'},
 {'accuracy': 1500,
  'latitudeE7': -235105499,
  'longitudeE7': -463647179,
  'timestampMs': '1468855950275'},
 {'accuracy': 1500,
  'latitudeE7': -235105499,
  'longitudeE7': -463647179,
  'timestampMs': '1468856010614'},
 {'accuracy': 1500,
  'latitudeE7': -235105499,
  'longitudeE7': -463647179,
  'timestampMs': '1468856131607'},
 {'accuracy': 1500,
  'latitudeE7': -235105499,
  'longitudeE7': -463647179,
  'timestampMs': '1468856400873'},
 {'accuracy': 1500,
  'latitudeE7': -235105499,
  'longitudeE7': -463647179,
  'timestampMs': '1468856473457'},
 {'accuracy': 1500,
  'latitudeE7': -235105499,
  'longitudeE7': -463647179,
  'timestampMs': '1468856716659'},
 {'accuracy': 1500,
  'latitudeE7': -235105499,
  'longitudeE7': -463647179,
  'timestampMs': '1468856848911'},
 {'accuracy': 1500,
  'latitudeE7': -235105499,
  'longitudeE7': -463647179,
  'timestampMs': '1468856921283'},
 {'accuracy': 1500,
  'latitudeE7': -235105499,
  'longitudeE7': -463647179,
  'timestampMs': '1468857052171'},
 {'accuracy': 1500,
  'latitudeE7': -235105499,
  'longitudeE7': -463647179,
  'timestampMs': '1468857162479'},
 {'accuracy': 1500,
  'latitudeE7': -235092407,
  'longitudeE7': -463635182,
  'timestampMs': '1468857359019'},
 {'accuracy': 1500,
  'latitudeE7': -235092407,
  'longitudeE7': -463635182,
  'timestampMs': '1468857600689'},
 {'accuracy': 1500,
  'latitudeE7': -235092407,
  'longitudeE7': -463635182,
  'timestampMs': '1468857661444'},
 {'accuracy': 1500,
  'latitudeE7': -235092407,
  'longitudeE7': -463635182,
  'timestampMs': '1468857852366'},
 {'accuracy': 1500,
  'latitudeE7': -235092407,
  'longitudeE7': -463635182,
  'timestampMs': '1468857913057'},
 {'accuracy': 1500,
  'latitudeE7': -235092407,
  'longitudeE7': -463635182,
  'timestampMs': '1468858533150'},
 {'accuracy': 1500,
  'latitudeE7': -235092407,
  'longitudeE7': -463635182,
  'timestampMs': '1468858621878'},
 {'accuracy': 1500,
  'latitudeE7': -235092407,
  'longitudeE7': -463635182,
  'timestampMs': '1468858743513'},
 {'accuracy': 1500,
  'latitudeE7': -235092407,
  'longitudeE7': -463635182,
  'timestampMs': '1468859247548'},
 {'accuracy': 1500,
  'latitudeE7': -235092407,
  'longitudeE7': -463635182,
  'timestampMs': '1468859308945'},
 {'accuracy': 1500,
  'latitudeE7': -235092407,
  'longitudeE7': -463635182,
  'timestampMs': '1468859400822'},
 {'accuracy': 1500,
  'latitudeE7': -235092407,
  'longitudeE7': -463635182,
  'timestampMs': '1468859588526'},
 {'accuracy': 1500,
  'latitudeE7': -235092407,
  'longitudeE7': -463635182,
  'timestampMs': '1468860322762'},
 {'accuracy': 1500,
  'latitudeE7': -235092407,
  'longitudeE7': -463635182,
  'timestampMs': '1468860383383'},
 {'accuracy': 1500,
  'latitudeE7': -235092407,
  'longitudeE7': -463635182,
  'timestampMs': '1468860451239'},
 {'accuracy': 1500,
  'latitudeE7': -235092407,
  'longitudeE7': -463635182,
  'timestampMs': '1468860527330'},
 {'accuracy': 1500,
  'latitudeE7': -235092407,
  'longitudeE7': -463635182,
  'timestampMs': '1468860659963'},
 {'accuracy': 1500,
  'latitudeE7': -235092407,
  'longitudeE7': -463635182,
  'timestampMs': '1468860770790'},
 {'accuracy': 1500,
  'latitudeE7': -235092407,
  'longitudeE7': -463635182,
  'timestampMs': '1468860833326'},
 {'accuracy': 1500,
  'latitudeE7': -235092407,
  'longitudeE7': -463635182,
  'timestampMs': '1468860900108'},
 {'accuracy': 1500,
  'latitudeE7': -235092407,
  'longitudeE7': -463635182,
  'timestampMs': '1468861022247'},
 {'accuracy': 1500,
  'latitudeE7': -235092407,
  'longitudeE7': -463635182,
  'timestampMs': '1468861136229'},
 {'accuracy': 1500,
  'latitudeE7': -235092407,
  'longitudeE7': -463635182,
  'timestampMs': '1468861201229'},
 {'accuracy': 1500,
  'latitudeE7': -235092407,
  'longitudeE7': -463635182,
  'timestampMs': '1468861387572'},
 {'accuracy': 1500,
  'latitudeE7': -235092407,
  'longitudeE7': -463635182,
  'timestampMs': '1468861577376'},
 {'accuracy': 1500,
  'latitudeE7': -235105499,
  'longitudeE7': -463647179,
  'timestampMs': '1468861750247'},
 {'accuracy': 24,
  'latitudeE7': -235145854,
  'longitudeE7': -463610371,
  'timestampMs': '1468861766824'},
 {'accuracy': 1500,
  'latitudeE7': -235105499,
  'longitudeE7': -463647179,
  'timestampMs': '1468862116485'},
 {'accuracy': 1500,
  'latitudeE7': -235105499,
  'longitudeE7': -463647179,
  'timestampMs': '1468862249634'},
 {'accuracy': 1500,
  'latitudeE7': -235105499,
  'longitudeE7': -463647179,
  'timestampMs': '1468862354446'},
 {'accuracy': 1500,
  'latitudeE7': -235105499,
  'longitudeE7': -463647179,
  'timestampMs': '1468863001170'},
 {'accuracy': 1500,
  'latitudeE7': -235105499,
  'longitudeE7': -463647179,
  'timestampMs': '1468863187046'},
 {'accuracy': 1500,
  'latitudeE7': -235105499,
  'longitudeE7': -463647179,
  'timestampMs': '1468863650057'},
 {'accuracy': 1500,
  'latitudeE7': -235105499,
  'longitudeE7': -463647179,
  'timestampMs': '1468863752882'},
 {'accuracy': 1500,
  'latitudeE7': -235105499,
  'longitudeE7': -463647179,
  'timestampMs': '1468863892158'},
 {'accuracy': 1500,
  'latitudeE7': -235105499,
  'longitudeE7': -463647179,
  'timestampMs': '1468864022254'},
 {'accuracy': 1500,
  'latitudeE7': -235105499,
  'longitudeE7': -463647179,
  'timestampMs': '1468864133812'},
 {'accuracy': 1500,
  'latitudeE7': -235105499,
  'longitudeE7': -463647179,
  'timestampMs': '1468864267358'},
 {'accuracy': 1500,
  'latitudeE7': -235105499,
  'longitudeE7': -463647179,
  'timestampMs': '1468864473749'},
 {'accuracy': 1299,
  'latitudeE7': -235103744,
  'longitudeE7': -463659176,
  'timestampMs': '1468864635072'},
 {'accuracy': 1500,
  'latitudeE7': -235092407,
  'longitudeE7': -463635182,
  'timestampMs': '1468864681371'},
 {'accuracy': 1500,
  'activity': [{'activity': [{'confidence': 79, 'type': 'STILL'},
     {'confidence': 13, 'type': 'UNKNOWN'},
     {'confidence': 8, 'type': 'IN_VEHICLE'}],
    'timestampMs': '1468864700212'}],
  'latitudeE7': -235092407,
  'longitudeE7': -463635182,
  'timestampMs': '1468864715054'},
 {'accuracy': 27,
  'activity': [{'activity': [{'confidence': 100, 'type': 'STILL'}],
    'timestampMs': '1468864901000'}],
  'latitudeE7': -235144744,
  'longitudeE7': -463610332,
  'timestampMs': '1468864828075'},
 {'accuracy': 27,
  'latitudeE7': -235145853,
  'longitudeE7': -463611635,
  'timestampMs': '1468865039709'},
 {'accuracy': 27,
  'latitudeE7': -235146174,
  'longitudeE7': -463610143,
  'timestampMs': '1468865233309'},
 {'accuracy': 27,
  'latitudeE7': -235145853,
  'longitudeE7': -463611638,
  'timestampMs': '1468865419902'},
 {'accuracy': 22,
  'latitudeE7': -235145715,
  'longitudeE7': -463610287,
  'timestampMs': '1468866115730'},
 {'accuracy': 24,
  'latitudeE7': -235145858,
  'longitudeE7': -463610312,
  'timestampMs': '1468866610968'},
 {'accuracy': 25,
  'latitudeE7': -235145785,
  'longitudeE7': -463610297,
  'timestampMs': '1468866676120'},
 {'accuracy': 20,
  'latitudeE7': -235145696,
  'longitudeE7': -463610563,
  'timestampMs': '1468866736853'},
 {'accuracy': 22,
  'latitudeE7': -235145696,
  'longitudeE7': -463610285,
  'timestampMs': '1468866822958'},
 {'accuracy': 24,
  'latitudeE7': -235145859,
  'longitudeE7': -463610398,
  'timestampMs': '1468867035032'},
 {'accuracy': 24,
  'latitudeE7': -235145859,
  'longitudeE7': -463610398,
  'timestampMs': '1468867096124'},
 {'accuracy': 22,
  'latitudeE7': -235145851,
  'longitudeE7': -463610329,
  'timestampMs': '1468867276831'},
 {'accuracy': 1500,
  'latitudeE7': -235105499,
  'longitudeE7': -463647179,
  'timestampMs': '1468867419911'},
 {'accuracy': 1299,
  'latitudeE7': -235103744,
  'longitudeE7': -463659176,
  'timestampMs': '1468867666536'},
 {'accuracy': 1500,
  'latitudeE7': -235101483,
  'longitudeE7': -463644180,
  'timestampMs': '1468868033831'},
 {'accuracy': 25,
  'latitudeE7': -235146165,
  'longitudeE7': -463610128,
  'timestampMs': '1468868213466'},
 {'accuracy': 23,
  'latitudeE7': -235145853,
  'longitudeE7': -463611631,
  'timestampMs': '1468868411387'},
 {'accuracy': 27,
  'latitudeE7': -235145844,
  'longitudeE7': -463611635,
  'timestampMs': '1468868533551'},
 {'accuracy': 27,
  'latitudeE7': -235146166,
  'longitudeE7': -463610138,
  'timestampMs': '1468868798355'},
 {'accuracy': 27,
  'latitudeE7': -235146167,
  'longitudeE7': -463610139,
  'timestampMs': '1468869346558'},
 {'accuracy': 28,
  'latitudeE7': -235144786,
  'longitudeE7': -463610434,
  'timestampMs': '1468869603925'},
 {'accuracy': 26,
  'latitudeE7': -235145708,
  'longitudeE7': -463610436,
  'timestampMs': '1468870210830'},
 {'accuracy': 71,
  'latitudeE7': -235145595,
  'longitudeE7': -463610360,
  'timestampMs': '1468870282109'},
 {'accuracy': 72,
  'latitudeE7': -235145404,
  'longitudeE7': -463610379,
  'timestampMs': '1468870342710'},
 {'accuracy': 24,
  'latitudeE7': -235145766,
  'longitudeE7': -463610445,
  'timestampMs': '1468870458734'},
 {'accuracy': 27,
  'latitudeE7': -235145796,
  'longitudeE7': -463610349,
  'timestampMs': '1468871415595'},
 {'accuracy': 27,
  'latitudeE7': -235146172,
  'longitudeE7': -463610140,
  'timestampMs': '1468871982527'},
 {'accuracy': 27,
  'latitudeE7': -235146173,
  'longitudeE7': -463610142,
  'timestampMs': '1468872043095'},
 {'accuracy': 39,
  'latitudeE7': -235145843,
  'longitudeE7': -463610369,
  'timestampMs': '1468872169246'},
 {'accuracy': 28,
  'latitudeE7': -235145842,
  'longitudeE7': -463610341,
  'timestampMs': '1468872350096'},
 {'accuracy': 1500,
  'activity': [{'activity': [{'confidence': 56, 'type': 'IN_VEHICLE'},
     {'confidence': 28, 'type': 'UNKNOWN'},
     {'confidence': 8, 'type': 'ON_BICYCLE'},
     {'confidence': 5, 'type': 'STILL'},
     {'confidence': 3, 'type': 'ON_FOOT'},
     {'confidence': 3, 'type': 'WALKING'}],
    'timestampMs': '1468872421562'}],
  'latitudeE7': -235105499,
  'longitudeE7': -463647179,
  'timestampMs': '1468872395663'},
 {'accuracy': 22,
  'latitudeE7': -235145840,
  'longitudeE7': -463611602,
  'timestampMs': '1468872618114'},
 {'accuracy': 64,
  'latitudeE7': -235146976,
  'longitudeE7': -463609683,
  'timestampMs': '1468872636294'},
 {'accuracy': 48,
  'latitudeE7': -235148593,
  'longitudeE7': -463601515,
  'timestampMs': '1468872652294'},
 {'accuracy': 49,
  'latitudeE7': -235146209,
  'longitudeE7': -463616234,
  'timestampMs': '1468872670219'},
 {'accuracy': 22,
  'latitudeE7': -235146164,
  'longitudeE7': -463610140,
  'timestampMs': '1468872860187'},
 {'accuracy': 28,
  'latitudeE7': -235144789,
  'longitudeE7': -463610336,
  'timestampMs': '1468872926111'},
 {'accuracy': 28,
  'latitudeE7': -235145770,
  'longitudeE7': -463610329,
  'timestampMs': '1468873033858'},
 {'accuracy': 25,
  'latitudeE7': -235144749,
  'longitudeE7': -463610287,
  'timestampMs': '1468873095144'},
 {'accuracy': 27,
  'latitudeE7': -235145844,
  'longitudeE7': -463611635,
  'timestampMs': '1468873324747'},
 {'accuracy': 25,
  'latitudeE7': -235145690,
  'longitudeE7': -463610342,
  'timestampMs': '1468873576743'},
 {'accuracy': 25,
  'latitudeE7': -235145610,
  'longitudeE7': -463609932,
  'timestampMs': '1468873810640'},
 {'accuracy': 25,
  'latitudeE7': -235144704,
  'longitudeE7': -463610227,
  'timestampMs': '1468873882889'},
 {'accuracy': 28,
  'latitudeE7': -235145557,
  'longitudeE7': -463609876,
  'timestampMs': '1468874038903'},
 {'accuracy': 24,
  'latitudeE7': -235145719,
  'longitudeE7': -463609956,
  'timestampMs': '1468874195189'},
 {'accuracy': 49,

In [204]:
type(gmaps)

list

Transformando num data frame

In [205]:
gmaps=pd.DataFrame(gmaps)

In [206]:
gmaps.head(1)

     timestampMs  latitudeE7  longitudeE7  ...  verticalAccuracy velocity  heading
0  1468850826205  -235145853   -463611635  ...               NaN      NaN      NaN

[1 rows x 9 columns]

In [207]:
gmaps['latitudeE7']=gmaps['latitudeE7'].apply(lambda x: x/10000000)

In [208]:
gmaps['longitudeE7']=gmaps['longitudeE7'].apply(lambda x : x/10000000)

In [209]:
gmaps.head(5)

     timestampMs  latitudeE7  longitudeE7  ...  verticalAccuracy velocity  heading
0  1468850826205  -23.514585   -46.361164  ...               NaN      NaN      NaN
1  1468850974589  -23.510148   -46.364418  ...               NaN      NaN      NaN
2  1468851089062  -23.510148   -46.364418  ...               NaN      NaN      NaN
3  1468851104231  -23.514488   -46.361052  ...               NaN      NaN      NaN
4  1468851129113  -23.514488   -46.361052  ...               NaN      NaN      NaN

[5 rows x 9 columns]

## Transformando de ms para datetime

In [210]:
gmaps['timestampMs'] = pd.to_datetime(gmaps['timestampMs'], unit='ms')

separando ano, mes, dia e dia da semana

In [211]:
gmaps['year'] = pd.DatetimeIndex(gmaps['timestampMs']).year
gmaps['month'] = pd.DatetimeIndex(gmaps['timestampMs']).month
gmaps['day'] = pd.DatetimeIndex(gmaps['timestampMs']).day
gmaps['day_name'] = gmaps['timestampMs'].dt.day_name()
gmaps.head()

              timestampMs  latitudeE7  longitudeE7  ...  month day  day_name
0 2016-07-18 14:07:06.205  -23.514585   -46.361164  ...      7  18    Monday
1 2016-07-18 14:09:34.589  -23.510148   -46.364418  ...      7  18    Monday
2 2016-07-18 14:11:29.062  -23.510148   -46.364418  ...      7  18    Monday
3 2016-07-18 14:11:44.231  -23.514488   -46.361052  ...      7  18    Monday
4 2016-07-18 14:12:09.113  -23.514488   -46.361052  ...      7  18    Monday

[5 rows x 13 columns]

Colocando as partes do dia de acordo com a faixa de horário

In [212]:
gmaps['part_of_day'] = gmaps['timestampMs'].dt.hour.apply(get_part_of_day)

mudando valores coluna mês para seus devidos nomes

In [213]:
gmaps["month"].replace(month, inplace=True)
gmaps.head(1)

              timestampMs  latitudeE7  longitudeE7  ...  day day_name  part_of_day
0 2016-07-18 14:07:06.205  -23.514585   -46.361164  ...   18   Monday         Noon

[1 rows x 14 columns]

## Dropando colunas que não usarei

In [214]:
gmaps.drop(labels=['altitude','verticalAccuracy','velocity','heading'],axis=1,inplace=True)

In [215]:
gmaps.head(1)

              timestampMs  latitudeE7  longitudeE7  ...  day day_name  part_of_day
0 2016-07-18 14:07:06.205  -23.514585   -46.361164  ...   18   Monday         Noon

[1 rows x 10 columns]

## Será que fazem sentindo esses dados soltos?

In [216]:
gmaps['day_name'].value_counts()

Friday       110683
Wednesday    106389
Thursday     105486
Tuesday      100882
Monday       100245
Saturday      99036
Sunday        86778
Name: day_name, dtype: int64

In [217]:
gmaps['month'].value_counts()

February     91113
January      74218
March        72906
November     62996
October      60665
December     57633
September    54792
August       52651
July         50219
April        48518
May          42106
June         41682
Name: month, dtype: int64

Locais mais visitados

In [218]:
gmaps['latitudeE7'].value_counts()

-23.514532    10615
-23.514493     9562
-23.510550     8016
-23.514516     7720
-23.510445     5605
              ...
-23.553629        1
-23.544141        1
-23.535152        1
-23.520586        1
-22.218088        1
Name: latitudeE7, Length: 88573, dtype: int64

# <font color= red>Exportando os csvs

In [219]:
genre_data_t.to_csv('generos_thiago.csv')

In [220]:
genre_data_n.to_csv('generos_natascha.csv')

In [221]:
biblioteca.to_csv('biblioteca_thiago.csv')

In [222]:
biblioteca_nat.to_csv('biblioteca_natascha.csv')

In [223]:
historico_3.to_csv('historico_netflix_thiago.csv')

In [224]:
historico_visu.to_csv('historico_geral_netflix_thiago.csv')

In [225]:
historico_nat.to_csv('historico_netflix_natascha.csv')

In [226]:
ifood.to_csv('ifood.csv')

In [227]:
gmaps.to_csv('gmaps.csv')

In [228]:
sp_historico.to_csv('historico_thiago.csv')